# 主表处理

In [1]:
import numpy as np 
import pandas as pd

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import gc
import warnings

# 数据处理包
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
warnings.filterwarnings("ignore")
path = "c:/data/"

In [2]:
def reduce_mem_usage(data, verbose = True):
    start_mem = data.memory_usage().sum() / 1024**2
    if verbose:
        print('Memory usage of dataframe: {:.2f} MB'.format(start_mem))
    
    for col in data.columns:
        col_type = data[col].dtype
        
        if col_type != object:
            c_min = data[col].min()
            c_max = data[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    data[col] = data[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    data[col] = data[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    data[col] = data[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    data[col] = data[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    data[col] = data[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    data[col] = data[col].astype(np.float32)
                else:
                    data[col] = data[col].astype(np.float64)

    end_mem = data.memory_usage().sum() / 1024**2
    if verbose:
        print('Memory usage after optimization: {:.2f} MB'.format(end_mem))
        print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return data

In [5]:
# application = pd.read_csv("appIication_train.csv",index_col="SK_ID_CURR")

application = pd.read_csv("appIication_train.csv")
application = reduce_mem_usage(application)
application.shape

Memory usage of dataframe: 286.23 MB
Memory usage after optimization: 92.38 MB
Decreased by 67.7%

(307511, 122)

In [11]:
pd.set_option('display.max_columns', None) #让pandas显示所有列
application.head(10)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_2,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,DAYS_EMPLOYED_PERC,INCOME_CREDIT_PERC
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018799,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.262939,0.024704,0.036896,0.972168,0.619141,0.014297,0.000000,0.068970,0.083313,0.125000,0.036896,0.020203,0.018997,0.000000,0.000000,0.025208,0.038300,0.972168,0.634277,0.014397,0.000000,0.068970,0.083313,0.125000,0.037689,0.022003,0.019806,0.0,0.0,0.024994,0.036896,0.972168,0.624512,0.014397,0.000000,0.068970,0.083313,0.125000,0.037506,0.020493,0.019302,0.000000,0.000000,reg oper account,block of flats,0.014900,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.067322,0.498047
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003542,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.622070,0.095886,0.052887,0.984863,0.795898,0.060486,0.080017,0.034485,0.291748,0.333252,0.013000,0.077271,0.054901,0.003901,0.009804,0.092407,0.053802,0.984863,0.804199,0.049713,0.080627,0.034485,0.291748,0.333252,0.012802,0.078979,0.055389,0.0,0.0,0.096802,0.052887,0.984863,0.798828,0.060791,0.080017,0.034485,0.291748,0.333252,0.013199,0.078674,0.055786,0.003901,0.010002,reg oper account,block of flats,0.071411,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.070862,0.208740
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010033,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,0.556152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.011818,0.500000
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008018,-19005,-3039,-9832.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,0.650391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.159912,0.431641
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028656,-19932,-3038,-4312.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,0.322754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.152466,0.236816
5,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,454500.0,"Spouse, partner",State servant,Secondary / secondary special,Married,House / apartment,0.035797,-16941,-1588,-4968.0,-477,NaN,1,1,1,1,1,0,Laborers,2.0,2,2,WEDNESDAY,16,0,0,0,0,0,0,Other,0.354248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-2536.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.093750,0.201782
6,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,1395000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.035797,-13778,-3130,-1213.0,-619,17.0,1,1,0,1,1,0,Accountants,3.0,2,2,SUNDAY,16,0,0,0,0,0,0,Business Entity Type 3,0.724121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,-1562.0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0,0.227173,0.109558
7,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,1530000.0,Unaccompanied,State servant,Higher education,Married,House / apartment,0.003122,-18850,-449,-4596.0,-2379,8.0,1,1,1,1,0,0,Managers,2.0,3,3,MONDAY,16,0,0,0,0,1,1,Other,0.714355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-1070.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.023819,0.235352
8,100011,0,Cash loans,F,N,Y,0,112500.0,1019610.0,33826.5,913500.0,Children,Pensioner,Secondary / secondary special,Married,House / apartment,0.018631,-20099,365243,-7428.0,-3514,NaN,1,0,0,1,0,0,NaN,2.0,2,2,WEDNESDAY,14,0,0,0,0,0,0,XNA,0.205688,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,-18.171875,0.110352
9,100012,0,Revolving loans,M,N,Y,0,135000.0,405000.0,20250.0,405000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.019684,-14469,-2019,-14440.0,-3992,NaN,1,1,0,1,0,0,Laborers,1.0,2,2,THURSDAY,8,0,0,0,0,0,0,Electricity,0.746582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-1673.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.139526,0.333252

In [16]:
application["DAYS_EMPLOYED"].max()

365243

In [19]:
temp = application[["SK_ID_CURR","TARGET","NAME_EDUCATION_TYPE",
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR',
 'DAYS_EMPLOYED_PERC',
 'INCOME_CREDIT_PERC']]

In [20]:
temp.head(20)

,SK_ID_CURR,TARGET,NAME_EDUCATION_TYPE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,DAYS_EMPLOYED_PERC,INCOME_CREDIT_PERC
0,100002,1,Secondary / secondary special,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.067322,0.498047
1,100003,0,Higher education,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.070862,0.208740
2,100004,0,Secondary / secondary special,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.011818,0.500000
3,100006,0,Secondary / secondary special,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.159912,0.431641
4,100007,0,Secondary / secondary special,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.152466,0.236816
5,100008,0,Secondary / secondary special,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.093750,0.201782
6,100009,0,Higher education,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0,0.227173,0.109558
7,100010,0,Higher education,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.023819,0.235352
8,100011,0,Secondary / secondary special,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,-18.171875,0.110352
9,100012,0,Secondary / secondary special,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.139526,0.333252
10,100014,0,Higher education,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.066589,0.172363
11,100015,0,Secondary / secondary special,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,-17.890625,0.259033
12,100016,0,Secondary / secondary special,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.202148,0.834473
13,100017,0,Secondary / secondary special,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.214966,0.244995
14,100018,0,Secondary / secondary special,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.013924,0.244263
15,100019,0,Secondary / secondary special,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.132568,0.525391
16,100020,0,Secondary / secondary special,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.101868,0.211914
17,100021,0,Secondary / secondary special,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.019547,0.300049
18,100022,0,Secondary / secondary special,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.440430,0.714355
19,100023,0,Higher education,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0,0.179565,0.165283

In [21]:
application.columns.tolist()

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_2',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR',
 'DAYS_EMPLOYED_PERC',
 'INCOME_CREDIT_PERC']

In [22]:
for col in temp.columns:
    print("\n %s 属性的不同取值和出现的次数" %col)
    print(temp[col].value_counts())

 SK_ID_CURR 属性的不同取值和出现的次数
100002    1
337664    1
337661    1
337660    1
337659    1
         ..
218992    1
218991    1
218990    1
218989    1
456255    1
Name: SK_ID_CURR, Length: 307511, dtype: int64

 TARGET 属性的不同取值和出现的次数
0    282686
1     24825
Name: TARGET, dtype: int64

 NAME_EDUCATION_TYPE 属性的不同取值和出现的次数
Secondary / secondary special    218391
Higher education                  74863
Incomplete higher                 10277
Lower secondary                    3816
Academic degree                     164
Name: NAME_EDUCATION_TYPE, dtype: int64

 FLAG_DOCUMENT_2 属性的不同取值和出现的次数
0    307498
1        13
Name: FLAG_DOCUMENT_2, dtype: int64

 FLAG_DOCUMENT_3 属性的不同取值和出现的次数
1    218340
0     89171
Name: FLAG_DOCUMENT_3, dtype: int64

 FLAG_DOCUMENT_4 属性的不同取值和出现的次数
0    307486
1        25
Name: FLAG_DOCUMENT_4, dtype: int64

 FLAG_DOCUMENT_5 属性的不同取值和出现的次数
0    302863
1      4648
Name: FLAG_DOCUMENT_5, dtype: int64

 FLAG_DOCUMENT_6 属性的不同取值和出现的次数
0    280433
1     27078
Name: FLAG_DOCUMENT_6, dtype: int64

 FLAG_DOCUMENT_7 属性的不同取值和出现的次数
0    307452
1        59
Name: FLAG_DOCUMENT_7, dtype: int64

 FLAG_DOCUMENT_8 属性的不同取值和出现的次数
0    282487
1     25024
Name: FLAG_DOCUMENT_8, dtype: int64

 FLAG_DOCUMENT_9 属性的不同取值和出现的次数
0    306313
1      1198
Name: FLAG_DOCUMENT_9, dtype: int64

 FLAG_DOCUMENT_10 属性的不同取值和出现的次数
0    307504
1         7
Name: FLAG_DOCUMENT_10, dtype: int64

 FLAG_DOCUMENT_11 属性的不同取值和出现的次数
0    306308
1      1203
Name: FLAG_DOCUMENT_11, dtype: int64

 FLAG_DOCUMENT_12 属性的不同取值和出现的次数
0    307509
1         2
Name: FLAG_DOCUMENT_12, dtype: int64

 FLAG_DOCUMENT_13 属性的不同取值和出现的次数
0    306427
1      1084
Name: FLAG_DOCUMENT_13, dtype: int64

 FLAG_DOCUMENT_14 属性的不同取值和出现的次数
0    306608
1       903
Name: FLAG_DOCUMENT_14, dtype: int64

 FLAG_DOCUMENT_15 属性的不同取值和出现的次数
0    307139
1       372
Name: FLAG_DOCUMENT_15, dtype: int64

 FLAG_DOCUMENT_16 属性的不同取值和出现的次数
0    304458
1      3053
Name: FLAG_DOCUMENT_16, dtype: int64

 FLAG_DOCUMENT_17 属性的不同取值和出现的次数
0    307429
1        82
Name: FLAG_DOCUMENT_17, dtype: int64

 FLAG_DOCUMENT_18 属性的不同取值和出现的次数
0    305011
1      2500
Name: FLAG_DOCUMENT_18, dtype: int64

 FLAG_DOCUMENT_19 属性的不同取值和出现的次数
0    307328
1       183
Name: FLAG_DOCUMENT_19, dtype: int64

 FLAG_DOCUMENT_20 属性的不同取值和出现的次数
0    307355
1       156
Name: FLAG_DOCUMENT_20, dtype: int64

 FLAG_DOCUMENT_21 属性的不同取值和出现的次数
0    307408
1       103
Name: FLAG_DOCUMENT_21, dtype: int64

 AMT_REQ_CREDIT_BUREAU_HOUR 属性的不同取值和出现的次数
0.0    264366
1.0      1560
2.0        56
3.0         9
4.0         1
Name: AMT_REQ_CREDIT_BUREAU_HOUR, dtype: int64

 AMT_REQ_CREDIT_BUREAU_DAY 属性的不同取值和出现的次数
0.0    264503
1.0      1292
2.0       106
3.0        45
4.0        26
5.0         9
6.0         8
9.0         2
8.0         1
Name: AMT_REQ_CREDIT_BUREAU_DAY, dtype: int64

 AMT_REQ_CREDIT_BUREAU_WEEK 属性的不同取值和出现的次数
0.0    257456
1.0      8208
2.0       199
3.0        58
4.0        34
6.0        20
5.0        10
8.0         5
7.0         2
Name: AMT_REQ_CREDIT_BUREAU_WEEK, dtype: int64

 AMT_REQ_CREDIT_BUREAU_MON 属性的不同取值和出现的次数
0.0     222233
1.0      33147
2.0       5386
3.0       1991
4.0       1076
5.0        602
6.0        343
7.0        298
9.0        206
8.0        185
10.0       132
11.0       119
12.0        77
13.0        72
14.0        40
15.0        35
16.0        23
17.0        14
18.0         6
19.0         3
24.0         1
23.0         1
27.0         1
22.0         1
Name: AMT_REQ_CREDIT_BUREAU_MON, dtype: int64

 AMT_REQ_CREDIT_BUREAU_QRT 属性的不同取值和出现的次数
0.0      215417
1.0       33862
2.0       14412
3.0        1717
4.0         476
5.0          64
6.0          28
8.0           7
7.0           7
261.0         1
19.0          1
Name: AMT_REQ_CREDIT_BUREAU_QRT, dtype: int64

 AMT_REQ_CREDIT_BUREAU_YEAR 属性的不同取值和出现的次数
0.0     71801
1.0     63405
2.0     50192
3.0     33628
4.0     20714
5.0     12052
6.0      6967
7.0      3869
8.0      2127
9.0      1096
11.0       31
12.0       30
10.0       22
13.0       19
14.0       10
17.0        7
15.0        6
19.0        4
18.0        4
16.0        3
25.0        1
23.0        1
22.0        1
21.0        1
20.0        1
Name: AMT_REQ_CREDIT_BUREAU_YEAR, dtype: int64

 DAYS_EMPLOYED_PERC 属性的不同取值和出现的次数
-16.546875    293
-16.031250    290
-16.734375    290
-16.437500    290
-16.062500    288
             ...
 0.004539       1
 0.004768       1
 0.000917       1
-24.765625      1
-33.593750      1
Name: DAYS_EMPLOYED_PERC, Length: 8867, dtype: int64

 INCOME_CREDIT_PERC 属性的不同取值和出现的次数
0.500000    5355
0.333252    3957
0.199951    3226
0.399902    3180
0.300049    2866
            ...
0.038361       1
1.322266       1
0.045959       1
1.705078       1
3.390625       1
Name: INCOME_CREDIT_PERC, Length: 5769, dtype: int64

In [39]:
sk_id = application.index.tolist()

In [40]:
sk_id

[100002,
 100003,
 100004,
 100006,
 100007,
 100008,
 100009,
 100010,
 100011,
 100012,
 100014,
 100015,
 100016,
 100017,
 100018,
 100019,
 100020,
 100021,
 100022,
 100023,
 100024,
 100025,
 100026,
 100027,
 100029,
 100030,
 100031,
 100032,
 100033,
 100034,
 100035,
 100036,
 100037,
 100039,
 100040,
 100041,
 100043,
 100044,
 100045,
 100046,
 100047,
 100048,
 100049,
 100050,
 100051,
 100052,
 100053,
 100054,
 100055,
 100056,
 100058,
 100059,
 100060,
 100061,
 100062,
 100063,
 100064,
 100068,
 100069,
 100070,
 100071,
 100072,
 100073,
 100075,
 100076,
 100077,
 100078,
 100079,
 100080,
 100081,
 100082,
 100083,
 100084,
 100085,
 100086,
 100087,
 100088,
 100089,
 100093,
 100094,
 100095,
 100096,
 100097,
 100098,
 100099,
 100100,
 100101,
 100102,
 100103,
 100104,
 100105,
 100108,
 100110,
 100111,
 100112,
 100113,
 100114,
 100115,
 100116,
 100118,
 100119,
 100120,
 100121,
 100122,
 100123,
 100124,
 100125,
 100126,
 100127,
 100129,
 100130,
 100131,
 100132,
 100133,
 100134,
 100135,
 100136,
 100137,
 100138,
 100139,
 100140,
 100142,
 100143,
 100144,
 100145,
 100146,
 100147,
 100148,
 100149,
 100151,
 100152,
 100153,
 100154,
 100155,
 100156,
 100157,
 100158,
 100159,
 100160,
 100161,
 100162,
 100163,
 100164,
 100165,
 100166,
 100167,
 100173,
 100174,
 100175,
 100176,
 100177,
 100178,
 100179,
 100180,
 100181,
 100182,
 100183,
 100185,
 100186,
 100188,
 100189,
 100190,
 100191,
 100192,
 100193,
 100194,
 100195,
 100196,
 100197,
 100198,
 100199,
 100200,
 100201,
 100202,
 100203,
 100204,
 100205,
 100206,
 100207,
 100208,
 100209,
 100210,
 100211,
 100213,
 100214,
 100215,
 100216,
 100217,
 100218,
 100219,
 100220,
 100221,
 100224,
 100225,
 100226,
 100227,
 100228,
 100229,
 100230,
 100231,
 100233,
 100234,
 100235,
 100236,
 100237,
 100238,
 100239,
 100240,
 100242,
 100243,
 100244,
 100246,
 100247,
 100248,
 100249,
 100250,
 100251,
 100252,
 100254,
 100255,
 100257,
 100258,
 100259,
 100260,
 100261,
 100262,
 100263,
 100264,
 100265,
 100266,
 100267,
 100268,
 100269,
 100270,
 100272,
 100273,
 100274,
 100275,
 100276,
 100277,
 100279,
 100281,
 100282,
 100283,
 100284,
 100285,
 100286,
 100287,
 100288,
 100289,
 100290,
 100291,
 100292,
 100293,
 100294,
 100295,
 100296,
 100297,
 100298,
 100299,
 100300,
 100301,
 100302,
 100303,
 100304,
 100305,
 100307,
 100308,
 100309,
 100310,
 100313,
 100314,
 100315,
 100316,
 100317,
 100318,
 100319,
 100320,
 100321,
 100322,
 100323,
 100324,
 100325,
 100326,
 100327,
 100328,
 100329,
 100332,
 100333,
 100334,
 100335,
 100336,
 100337,
 100338,
 100339,
 100340,
 100341,
 100342,
 100343,
 100344,
 100345,
 100346,
 100347,
 100348,
 100349,
 100350,
 100351,
 100353,
 100354,
 100355,
 100356,
 100357,
 100359,
 100360,
 100361,
 100362,
 100363,
 100364,
 100365,
 100366,
 100368,
 100369,
 100370,
 100371,
 100372,
 100373,
 100374,
 100375,
 100376,
 100377,
 100378,
 100379,
 100380,
 100381,
 100383,
 100387,
 100388,
 100389,
 100390,
 100391,
 100392,
 100393,
 100394,
 100395,
 100396,
 100397,
 100398,
 100400,
 100401,
 100402,
 100403,
 100405,
 100406,
 100407,
 100408,
 100409,
 100410,
 100411,
 100412,
 100413,
 100414,
 100415,
 100417,
 100418,
 100419,
 100420,
 100421,
 100423,
 100424,
 100425,
 100427,
 100428,
 100429,
 100430,
 100431,
 100432,
 100433,
 100434,
 100435,
 100436,
 100437,
 100439,
 100440,
 100441,
 100442,
 100443,
 100448,
 100449,
 100451,
 100452,
 100453,
 100454,
 100455,
 100456,
 100457,
 100458,
 100459,
 100460,
 100461,
 100462,
 100463,
 100464,
 100465,
 100467,
 100468,
 100469,
 100470,
 100471,
 100472,
 100473,
 100474,
 100475,
 100476,
 100477,
 100478,
 100479,
 100480,
 100481,
 100482,
 100485,
 100486,
 100487,
 100488,
 100489,
 100490,
 100491,
 100492,
 100493,
 100495,
 100496,
 100497,
 100498,
 100499,
 100500,
 100501,
 100502,
 100503,
 100504,
 100505,
 100506,
 100507,
 100508,
 100509,
 100511,
 100513,
 100514,
 100515,
 100516,
 100518,
 100519,
 100520,
 100521,
 100522,
 100523,
 100524,
 100525,
 100526,
 100527,
 100528,
 100529,
 100530,
 100531,
 100532,
 100533,
 100534,
 100535,
 100536,
 100537,
 100538,
 100539,
 100540,
 100541,
 100542,
 100543,
 100544,
 100545,
 100546,
 100547,
 100549,
 100550,
 100554,
 100555,
 100556,
 100557,
 100558,
 100559,
 100560,
 100562,
 100563,
 100564,
 100565,
 100566,
 100567,
 100570,
 100571,
 100572,
 100573,
 100574,
 100575,
 100576,
 100577,
 100578,
 100579,
 100580,
 100581,
 100582,
 100583,
 100584,
 100585,
 100586,
 100587,
 100588,
 100589,
 100590,
 100593,
 100594,
 100595,
 100596,
 100597,
 100598,
 100599,
 100600,
 100601,
 100603,
 100604,
 100605,
 100606,
 100608,
 100609,
 100610,
 100611,
 100612,
 100614,
 100615,
 100616,
 100619,
 100620,
 100621,
 100623,
 100624,
 100626,
 100627,
 100628,
 100629,
 100630,
 100631,
 100632,
 100633,
 100634,
 100635,
 100636,
 100637,
 100638,
 100639,
 100640,
 100641,
 100642,
 100643,
 100644,
 100645,
 100646,
 100647,
 100648,
 100649,
 100650,
 100651,
 100652,
 100653,
 100654,
 100655,
 100656,
 100657,
 100658,
 100659,
 100660,
 100661,
 100662,
 100663,
 100664,
 100665,
 100666,
 100667,
 100668,
 100669,
 100670,
 100671,
 100672,
 100673,
 100674,
 100675,
 100676,
 100678,
 100679,
 100680,
 100681,
 100682,
 100683,
 100684,
 100685,
 100686,
 100687,
 100688,
 100689,
 100690,
 100691,
 100692,
 100693,
 100694,
 100695,
 100696,
 100697,
 100698,
 100700,
 100701,
 100703,
 100704,
 100705,
 100706,
 100707,
 100708,
 100709,
 100710,
 100712,
 100713,
 100714,
 100715,
 100716,
 100717,
 100718,
 100719,
 100720,
 100721,
 100722,
 100723,
 100724,
 100725,
 100726,
 100727,
 100728,
 100730,
 100731,
 100732,
 100733,
 100734,
 100735,
 100736,
 100737,
 100738,
 100739,
 100741,
 100742,
 100743,
 100746,
 100748,
 100749,
 100750,
 100755,
 100756,
 100757,
 100758,
 100759,
 100761,
 100764,
 100766,
 100767,
 100768,
 100769,
 100771,
 100773,
 100774,
 100775,
 100776,
 100778,
 100779,
 100780,
 100781,
 100782,
 100783,
 100784,
 100785,
 100786,
 100787,
 100788,
 100789,
 100790,
 100793,
 100794,
 100795,
 100796,
 100798,
 100799,
 100800,
 100801,
 100802,
 100803,
 100804,
 100805,
 100806,
 100807,
 100808,
 100809,
 100810,
 100811,
 100812,
 100813,
 100814,
 100815,
 100816,
 100817,
 100818,
 100819,
 100820,
 100821,
 100822,
 100824,
 100825,
 100827,
 100828,
 100829,
 100831,
 100832,
 100833,
 100834,
 100835,
 100837,
 100838,
 100839,
 100840,
 100841,
 100842,
 100843,
 100844,
 100845,
 100846,
 100847,
 100848,
 100849,
 100850,
 100851,
 100852,
 100853,
 100854,
 100855,
 100856,
 100857,
 100858,
 100859,
 100860,
 100861,
 100862,
 100863,
 100864,
 100865,
 100866,
 100867,
 100868,
 100869,
 100870,
 100871,
 100873,
 100874,
 100875,
 100876,
 100877,
 100878,
 100879,
 100880,
 100881,
 100882,
 100883,
 100884,
 100885,
 100886,
 100887,
 100888,
 100889,
 100890,
 100891,
 100892,
 100893,
 100894,
 100895,
 100896,
 100897,
 100898,
 100899,
 100900,
 100901,
 100902,
 100903,
 100904,
 100905,
 100906,
 100907,
 100908,
 100909,
 100911,
 100912,
 100914,
 100915,
 100916,
 100917,
 100919,
 100920,
 100921,
 100922,
 100923,
 100924,
 100925,
 100926,
 100927,
 100928,
 100929,
 100930,
 100932,
 100933,
 100934,
 100935,
 100936,
 100937,
 100938,
 100939,
 100940,
 100941,
 100942,
 100943,
 100944,
 100945,
 100946,
 100947,
 100948,
 100949,
 100950,
 100951,
 100954,
 100955,
 100956,
 100957,
 100958,
 100959,
 100960,
 100961,
 100962,
 100963,
 100964,
 100966,
 100967,
 100968,
 100969,
 100971,
 100972,
 100973,
 100974,
 100975,
 100976,
 100977,
 100978,
 100979,
 100980,
 100981,
 100985,
 100986,
 100988,
 100989,
 100990,
 100991,
 100992,
 100993,
 100994,
 100995,
 100996,
 100999,
 101000,
 101001,
 101003,
 101004,
 101006,
 101007,
 101009,
 101010,
 101011,
 101012,
 101013,
 101014,
 101015,
 101016,
 101017,
 101018,
 101019,
 101022,
 101023,
 101027,
 101028,
 101029,
 101030,
 101032,
 101033,
 101034,
 101035,
 101036,
 101037,
 101038,
 101039,
 101040,
 101042,
 101043,
 101044,
 101045,
 101046,
 101047,
 101048,
 101049,
 101050,
 101052,
 101053,
 101054,
 101058,
 101059,
 101060,
 101061,
 101062,
 101063,
 101065,
 101066,
 101067,
 101068,
 101069,
 101070,
 101071,
 101072,
 101073,
 101074,
 101075,
 101076,
 101077,
 101078,
 101080,
 101081,
 101082,
 101083,
 101084,
 101085,
 101086,
 101088,
 101089,
 101091,
 101093,
 101094,
 101095,
 101096,
 101098,
 101100,
 101101,
 101102,
 101103,
 101104,
 101105,
 101106,
 101108,
 101109,
 101110,
 101111,
 101112,
 101113,
 101114,
 101115,
 101116,
 101117,
 101119,
 101120,
 101121,
 101122,
 101123,
 101124,
 101127,
 101129,
 101130,
 101131,
 101132,
 101133,
 101134,
 101135,
 101137,
 101138,
 101139,
 101141,
 101142,
 101143,
 101144,
 101145,
 101146,
 101147,
 101148,
 101150,
 101151,
 101152,
 101153,
 101154,
 101155,
 101156,
 ...]

In [41]:
application['DAYS_EMPLOYED'] = (application['DAYS_EMPLOYED'].apply(lambda x: x if x != 365243 else 0))

# 合成新特征

In [42]:
application['DAYS_EMPLOYED_PERC'] = application['DAYS_EMPLOYED'] / (application['DAYS_BIRTH'] + 1)
application['INCOME_CREDIT_PERC'] = application['AMT_INCOME_TOTAL'] / (application['AMT_CREDIT'] +1)# 收入/贷款
application['INCOME_PER_PERSON'] = application['AMT_INCOME_TOTAL'] / (application['CNT_FAM_MEMBERS']) # 人均收入
application['ANNUITY_INCOME_PERC'] = application['AMT_ANNUITY'] / (application['AMT_INCOME_TOTAL']+1)  # 贷款百分比
application['PAYMENT_RATE'] = application['AMT_ANNUITY'] / (application['AMT_CREDIT']+1)
docs = [_f for _f in application.columns if 'FLAG_DOC' in _f]
live = [_f for _f in application.columns if ('FLAG_' in _f) & ('FLAG_DOC' not in _f) & ('_FLAG_' not in _f)]
inc_by_org = application[['AMT_INCOME_TOTAL', 'ORGANIZATION_TYPE']].groupby('ORGANIZATION_TYPE').median()['AMT_INCOME_TOTAL']
application['NEW_CREDIT_TO_ANNUITY_RATIO'] = application['AMT_CREDIT'] / (application['AMT_ANNUITY']+1)
application['NEW_CREDIT_TO_GOODS_RATIO'] = application['AMT_CREDIT'] / (application['AMT_GOODS_PRICE']+1)
application['NEW_DOC_IND_AVG'] = application[docs].mean(axis=1)
application['NEW_DOC_IND_STD'] = application[docs].std(axis=1)
application['NEW_DOC_IND_KURT'] = application[docs].kurtosis(axis=1) # kurtosis是用在概率论和统计学里。它描述了例如频率分布的尖峰形式
application['NEW_LIVE_IND_SUM'] = application[live].sum(axis=1)
application['NEW_LIVE_IND_STD'] = application[live].std(axis=1)
application['NEW_LIVE_IND_KURT'] = application[live].kurtosis(axis=1)
application['NEW_INC_PER_CHLD'] = application['AMT_INCOME_TOTAL'] / (1 + application['CNT_CHILDREN'])
application['NEW_INC_BY_ORG'] = application['ORGANIZATION_TYPE'].map(inc_by_org)
application['NEW_CAR_TO_BIRTH_RATIO'] = application['OWN_CAR_AGE'] / (application['DAYS_BIRTH']+1)
application['NEW_CAR_TO_EMPLOY_RATIO'] = application['OWN_CAR_AGE'] / (application['DAYS_EMPLOYED']+1)
application['NEW_PHONE_TO_BIRTH_RATIO'] = application['DAYS_LAST_PHONE_CHANGE'] / (application['DAYS_BIRTH']+1)
application['NEW_PHONE_TO_EMPLOY_RATIO'] = application['DAYS_LAST_PHONE_CHANGE'] / (application['DAYS_EMPLOYED']+1)

In [43]:
# 删除缺失值较多的特征
def missing_values(df):
        # 缺失的总个数
        mis_val = df.isnull().sum()
        
        # 计算百分比
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # 合并
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # 重命名
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Count', 1 : 'percent'})
        
        # 根据缺失值降序排列
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values('percent', ascending=False).round(1)
        
        # Print some summary information
        print ("selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [44]:
missing_values(application).head(20)

selected dataframe has 138 columns.
There are 74 columns that have missing values.

                          Missing Count  percent
COMMONAREA_MEDI                  214865     69.9
COMMONAREA_MODE                  214865     69.9
COMMONAREA_AVG                   214865     69.9
NONLIVINGAPARTMENTS_MODE         213514     69.4
NONLIVINGAPARTMENTS_MEDI         213514     69.4
NONLIVINGAPARTMENTS_AVG          213514     69.4
FONDKAPREMONT_MODE               210295     68.4
LIVINGAPARTMENTS_MEDI            210199     68.4
LIVINGAPARTMENTS_MODE            210199     68.4
LIVINGAPARTMENTS_AVG             210199     68.4
FLOORSMIN_MEDI                   208642     67.8
FLOORSMIN_MODE                   208642     67.8
FLOORSMIN_AVG                    208642     67.8
YEARS_BUILD_MEDI                 204488     66.5
YEARS_BUILD_MODE                 204488     66.5
YEARS_BUILD_AVG                  204488     66.5
NEW_CAR_TO_EMPLOY_RATIO          202929     66.0
OWN_CAR_AGE                      202929     66.0
NEW_CAR_TO_BIRTH_RATIO           202929     66.0
LANDAREA_MODE                    182590     59.4

In [45]:
application.shape

(307511, 138)

# 删除缺失值

In [46]:
def drop_columns(df,percent):
    # 删除超过百分比的列
    # 还要加上table, percent参数
    table = missing_values(df)
    drop_list = table.loc[table["percent"] > percent,:].index.tolist()
    df.drop(drop_list, axis=1, inplace=True)
    return df

In [47]:
drop_columns(application, 60)

selected dataframe has 138 columns.
There are 74 columns that have missing values.

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,NEW_DOC_IND_AVG,NEW_DOC_IND_STD,NEW_DOC_IND_KURT,NEW_LIVE_IND_SUM,NEW_LIVE_IND_STD,NEW_LIVE_IND_KURT,NEW_INC_PER_CHLD,NEW_INC_BY_ORG,NEW_PHONE_TO_BIRTH_RATIO,NEW_PHONE_TO_EMPLOY_RATIO
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0.05,0.223607,20.0,4,0.516398,-1.875000,202500.0,157500.0,0.119873,1.783019
100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,0.05,0.223607,20.0,4,0.516398,-1.875000,270000.0,135000.0,0.049392,0.697557
100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0.00,0.000000,0.0,5,0.408248,6.000000,67500.0,135000.0,0.042793,3.638393
100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0.05,0.223607,20.0,3,0.547723,-3.333333,135000.0,157500.0,0.032467,0.203094
100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0.05,0.223607,20.0,3,0.547723,-3.333333,121500.0,162000.0,0.055491,0.364175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,225000.0,...,0.05,0.223607,20.0,3,0.547723,-3.333333,157500.0,157500.0,0.029273,1.161702
456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,225000.0,...,0.05,0.223607,20.0,3,0.547723,-3.333333,72000.0,117000.0,-0.000000,0.000000
456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,585000.0,...,0.05,0.223607,20.0,4,0.516398,-1.875000,153000.0,135000.0,0.127564,0.241035
456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,319500.0,...,0.05,0.223607,20.0,3,0.547723,-3.333333,171000.0,157500.0,0.026923,0.067294
456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,675000.0,...,0.05,0.223607,20.0,5,0.408248,6.000000,157500.0,157500.0,0.046692,0.624108

In [48]:
application.shape

(307511, 119)

# 修改异常值

In [49]:
application['DAYS_EMPLOYED'].value_counts()

 0        55376
-200        156
-224        152
-230        151
-199        151
          ...
-12588        1
-8229         1
-12794        1
-11823        1
-8694         1
Name: DAYS_EMPLOYED, Length: 12573, dtype: int64

In [50]:
application['DAYS_EMPLOYED'] = (application['DAYS_EMPLOYED'].apply(lambda x: x if x != 365243 else 0))

# 同值化处理

In [51]:
for col in application.columns:
    print("\n %s 属性的不同取值和出现的次数" %col)
    print(application[col].value_counts())

 TARGET 属性的不同取值和出现的次数
0    282686
1     24825
Name: TARGET, dtype: int64

 NAME_CONTRACT_TYPE 属性的不同取值和出现的次数
Cash loans         278232
Revolving loans     29279
Name: NAME_CONTRACT_TYPE, dtype: int64

 CODE_GENDER 属性的不同取值和出现的次数
F      202448
M      105059
XNA         4
Name: CODE_GENDER, dtype: int64

 FLAG_OWN_CAR 属性的不同取值和出现的次数
N    202924
Y    104587
Name: FLAG_OWN_CAR, dtype: int64

 FLAG_OWN_REALTY 属性的不同取值和出现的次数
Y    213312
N     94199
Name: FLAG_OWN_REALTY, dtype: int64

 CNT_CHILDREN 属性的不同取值和出现的次数
0     215371
1      61119
2      26749
3       3717
4        429
5         84
6         21
7          7
14         3
8          2
9          2
12         2
10         2
19         2
11         1
Name: CNT_CHILDREN, dtype: int64

 AMT_INCOME_TOTAL 属性的不同取值和出现的次数
135000.0    35750
112500.0    31019
157500.0    26556
180000.0    24719
90000.0     22483
            ...
117324.0        1
64584.0         1
142897.5        1
109170.0        1
113062.5        1
Name: AMT_INCOME_TOTAL, Length: 2548, dtype: int64

 AMT_CREDIT 属性的不同取值和出现的次数
450000.0     9709
675000.0     8877
225000.0     8162
180000.0     7342
270000.0     7241
             ...
487318.5        1
630400.5        1
1875276.0       1
1395895.5       1
1391130.0       1
Name: AMT_CREDIT, Length: 5603, dtype: int64

 AMT_ANNUITY 属性的不同取值和出现的次数
9000.0      6385
13500.0     5514
6750.0      2279
10125.0     2035
37800.0     1602
            ...
79902.0        1
106969.5       1
60885.0        1
59661.0        1
77809.5        1
Name: AMT_ANNUITY, Length: 13672, dtype: int64

 AMT_GOODS_PRICE 属性的不同取值和出现的次数
450000.0     26022
225000.0     25282
675000.0     24962
900000.0     15416
270000.0     11428
             ...
1265751.0        1
503266.5         1
810778.5         1
666090.0         1
743863.5         1
Name: AMT_GOODS_PRICE, Length: 1002, dtype: int64

 NAME_TYPE_SUITE 属性的不同取值和出现的次数
Unaccompanied      248526
Family              40149
Spouse, partner     11370
Children             3267
Other_B              1770
Other_A               866
Group of people       271
Name: NAME_TYPE_SUITE, dtype: int64

 NAME_INCOME_TYPE 属性的不同取值和出现的次数
Working                 158774
Commercial associate     71617
Pensioner                55362
State servant            21703
Unemployed                  22
Student                     18
Businessman                 10
Maternity leave              5
Name: NAME_INCOME_TYPE, dtype: int64

 NAME_EDUCATION_TYPE 属性的不同取值和出现的次数
Secondary / secondary special    218391
Higher education                  74863
Incomplete higher                 10277
Lower secondary                    3816
Academic degree                     164
Name: NAME_EDUCATION_TYPE, dtype: int64

 NAME_FAMILY_STATUS 属性的不同取值和出现的次数
Married                 196432
Single / not married     45444
Civil marriage           29775
Separated                19770
Widow                    16088
Unknown                      2
Name: NAME_FAMILY_STATUS, dtype: int64

 NAME_HOUSING_TYPE 属性的不同取值和出现的次数
House / apartment      272868
With parents            14840
Municipal apartment     11183
Rented apartment         4881
Office apartment         2617
Co-op apartment          1122
Name: NAME_HOUSING_TYPE, dtype: int64

 REGION_POPULATION_RELATIVE 属性的不同取值和出现的次数
0.035797    16408
0.046234    13442
0.030762    12163
0.025162    11950
0.026398    11601
            ...
0.001417      467
0.001333      235
0.000533       39
0.000938       28
0.000290        2
Name: REGION_POPULATION_RELATIVE, Length: 81, dtype: int64

 DAYS_BIRTH 属性的不同取值和出现的次数
-13749    43
-13481    42
-18248    41
-10020    41
-15771    40
          ..
-24898     1
-24868     1
-8017      1
-25098     1
-25061     1
Name: DAYS_BIRTH, Length: 17460, dtype: int64

 DAYS_EMPLOYED 属性的不同取值和出现的次数
 0        55376
-200        156
-224        152
-230        151
-199        151
          ...
-12588        1
-8229         1
-12794        1
-11823        1
-8694         1
Name: DAYS_EMPLOYED, Length: 12573, dtype: int64

 DAYS_REGISTRATION 属性的不同取值和出现的次数
-4544.0     214
-4632.0     206
-4592.0     203
-8320.0     203
-8656.0     202
           ...
-16864.0      1
-18768.0      1
-18496.0      1
-17456.0      1
-19184.0      1
Name: DAYS_REGISTRATION, Length: 5282, dtype: int64

 DAYS_ID_PUBLISH 属性的不同取值和出现的次数
-4053    169
-4095    162
-4046    161
-4417    159
-4256    158
        ...
-5896      1
-5921      1
-5753      1
-5960      1
-6211      1
Name: DAYS_ID_PUBLISH, Length: 6168, dtype: int64

 FLAG_MOBIL 属性的不同取值和出现的次数
1    307510
0         1
Name: FLAG_MOBIL, dtype: int64

 FLAG_EMP_PHONE 属性的不同取值和出现的次数
1    252125
0     55386
Name: FLAG_EMP_PHONE, dtype: int64

 FLAG_WORK_PHONE 属性的不同取值和出现的次数
0    246203
1     61308
Name: FLAG_WORK_PHONE, dtype: int64

 FLAG_CONT_MOBILE 属性的不同取值和出现的次数
1    306937
0       574
Name: FLAG_CONT_MOBILE, dtype: int64

 FLAG_PHONE 属性的不同取值和出现的次数
0    221080
1     86431
Name: FLAG_PHONE, dtype: int64

 FLAG_EMAIL 属性的不同取值和出现的次数
0    290069
1     17442
Name: FLAG_EMAIL, dtype: int64

 OCCUPATION_TYPE 属性的不同取值和出现的次数
Laborers                 55186
Sales staff              32102
Core staff               27570
Managers                 21371
Drivers                  18603
High skill tech staff    11380
Accountants               9813
Medicine staff            8537
Security staff            6721
Cooking staff             5946
Cleaning staff            4653
Private service staff     2652
Low-skill Laborers        2093
Waiters/barmen staff      1348
Secretaries               1305
Realty agents              751
HR staff                   563
IT staff                   526
Name: OCCUPATION_TYPE, dtype: int64

 CNT_FAM_MEMBERS 属性的不同取值和出现的次数
2.0     158357
1.0      67847
3.0      52601
4.0      24697
5.0       3478
6.0        408
7.0         81
8.0         20
9.0          6
10.0         3
14.0         2
12.0         2
20.0         2
16.0         2
13.0         1
15.0         1
11.0         1
Name: CNT_FAM_MEMBERS, dtype: int64

 REGION_RATING_CLIENT 属性的不同取值和出现的次数
2    226984
3     48330
1     32197
Name: REGION_RATING_CLIENT, dtype: int64

 REGION_RATING_CLIENT_W_CITY 属性的不同取值和出现的次数
2    229484
3     43860
1     34167
Name: REGION_RATING_CLIENT_W_CITY, dtype: int64

 WEEKDAY_APPR_PROCESS_START 属性的不同取值和出现的次数
TUESDAY      53901
WEDNESDAY    51934
MONDAY       50714
THURSDAY     50591
FRIDAY       50338
SATURDAY     33852
SUNDAY       16181
Name: WEEKDAY_APPR_PROCESS_START, dtype: int64

 HOUR_APPR_PROCESS_START 属性的不同取值和出现的次数
10    37722
11    37229
12    34233
13    30959
14    27682
9     27384
15    24839
16    20385
8     15127
17    14900
7      9131
18     9049
6      5842
19     3848
5      3638
4      2090
3      1230
20     1196
21      405
2       305
22      150
1        86
23       41
0        40
Name: HOUR_APPR_PROCESS_START, dtype: int64

 REG_REGION_NOT_LIVE_REGION 属性的不同取值和出现的次数
0    302854
1      4657
Name: REG_REGION_NOT_LIVE_REGION, dtype: int64

 REG_REGION_NOT_WORK_REGION 属性的不同取值和出现的次数
0    291899
1     15612
Name: REG_REGION_NOT_WORK_REGION, dtype: int64

 LIVE_REGION_NOT_WORK_REGION 属性的不同取值和出现的次数
0    295008
1     12503
Name: LIVE_REGION_NOT_WORK_REGION, dtype: int64

 REG_CITY_NOT_LIVE_CITY 属性的不同取值和出现的次数
0    283472
1     24039
Name: REG_CITY_NOT_LIVE_CITY, dtype: int64

 REG_CITY_NOT_WORK_CITY 属性的不同取值和出现的次数
0    236644
1     70867
Name: REG_CITY_NOT_WORK_CITY, dtype: int64

 LIVE_CITY_NOT_WORK_CITY 属性的不同取值和出现的次数
0    252296
1     55215
Name: LIVE_CITY_NOT_WORK_CITY, dtype: int64

 ORGANIZATION_TYPE 属性的不同取值和出现的次数
Business Entity Type 3    67992
XNA                       55374
Self-employed             38412
Other                     16683
Medicine                  11193
Business Entity Type 2    10553
Government                10404
School                     8893
Trade: type 7              7831
Kindergarten               6880
Construction               6721
Business Entity Type 1     5984
Transport: type 4          5398
Trade: type 3              3492
Industry: type 9           3368
Industry: type 3           3278
Security                   3247
Housing                    2958
Industry: type 11          2704
Military                   2634
Bank                       2507
Agriculture                2454
Police                     2341
Transport: type 2          2204
Postal                     2157
Security Ministries        1974
Trade: type 2              1900
Restaurant                 1811
Services                   1575
University                 1327
Industry: type 7           1307
Transport: type 3          1187
Industry: type 1           1039
Hotel                       966
Electricity                 950
Industry: type 4            877
Trade: type 6               631
Industry: type 5            599
Insurance                   597
Telecom                     577
Emergency                   560
Industry: type 2            458
Advertising                 429
Realtor                     396
Culture                     379
Industry: type 12           369
Trade: type 1               348
Mobile                      317
Legal Services              305
Cleaning                    260
Transport: type 1           201
Industry: type 6            112
Industry: type 10           109
Religion                     85
Industry: type 13            67
Trade: type 4                64
Trade: type 5                49
Industry: type 8             24
Name: ORGANIZATION_TYPE, dtype: int64

 EXT_SOURCE_2 属性的不同取值和出现的次数
0.285889    780
0.265137    502
0.658691    480
0.655273    476
0.262207    473
           ...
0.008018      1
0.005634      1
0.025055      1
0.028641      1
0.003405      1
Name: EXT_SOURCE_2, Length: 6888, dtype: int64

 APARTMENTS_AVG 属性的不同取值和出现的次数
0.082520    6663
0.061890    6332
0.092773    4404
0.072205    3986
0.008202    3507
            ...
0.434570       1
0.157959       1
0.105896       1
0.687500       1
0.346680       1
Name: APARTMENTS_AVG, Length: 2251, dtype: int64

 BASEMENTAREA_AVG 属性的不同取值和出现的次数
0.000000    14745
0.081787      251
0.054504      251
0.072693      248
0.109070      246
            ...
0.417236        1
0.619141        1
0.208984        1
0.968262        1
0.636230        1
Name: BASEMENTAREA_AVG, Length: 3127, dtype: int64

 YEARS_BEGINEXPLUATATION_AVG 属性的不同取值和出现的次数
0.987305    4311
0.985840    4189
0.986328    4171
0.979980    4123
0.986816    4114
            ...
0.899414       1
0.827637       1
0.327881       1
0.657715       1
0.862793       1
Name: YEARS_BEGINEXPLUATATION_AVG, Length: 284, dtype: int64

 ELEVATORS_AVG 属性的不同取值和出现的次数
0.000000    85718
0.080017     9886
0.160034     8806
0.239990     6071
0.119995     5593
            ...
0.228394        1
0.082825        1
0.023193        1
0.018005        1
0.052795        1
Name: ELEVATORS_AVG, Length: 257, dtype: int64

 ENTRANCES_AVG 属性的不同取值和出现的次数
0.137939    34007
0.068970    22956
0.103394    19533
0.206909    19062
0.034485    15380
            ...
0.035492        1
0.164551        1
0.214478        1
0.134155        1
0.105896        1
Name: ENTRANCES_AVG, Length: 285, dtype: int64

 FLOORSMAX_AVG 属性的不同取值和出现的次数
0.166748    61875
0.333252    31909
0.041687    14600
0.375000     7926
0.125000     6974
            ...
0.179199        1
0.219971        1
0.113281        1
0.090027        1
0.204224        1
Name: FLOORSMAX_AVG, Length: 403, dtype: int64

 LANDAREA_AVG 属性的不同取值和出现的次数
0.000000    15600
0.063110      189
0.031586      187
0.047302      186
0.017395      180
            ...
0.369385        1
0.186768        1
0.237427        1
0.310791        1
0.439453        1
Name: LANDAREA_AVG, Length: 3011, dtype: int64

 LIVINGAREA_AVG 属性的不同取值和出现的次数
0.000000    284
0.051208    243
0.050995    223
0.070190    223
0.050903    221
           ...
0.456055      1
0.583984      1
0.239136      1
0.409668      1
0.927734      1
Name: LIVINGAREA_AVG, Length: 3715, dtype: int64

 NONLIVINGAREA_AVG 属性的不同取值和出现的次数
0.000000    58735
0.001200      546
0.004398      454
0.002199      440
0.003099      415
            ...
0.290283        1
0.350342        1
0.652344        1
0.277344        1
0.602539        1
Name: NONLIVINGAREA_AVG, Length: 2885, dtype: int64

 APARTMENTS_MODE 属性的不同取值和出现的次数
0.083984    7522
0.062988    7451
0.094482    4757
0.073486    4388
0.008400    3970
            ...
0.844727       1
0.917969       1
0.745605       1
0.896973       1
0.658691       1
Name: APARTMENTS_MODE, Length: 760, dtype: int64

 BASEMENTAREA_MODE 属性的不同取值和出现的次数
0.000000    16598
0.056610      269
0.084900      265
0.064209      253
0.083008      251
            ...
0.269287        1
0.248413        1
0.391846        1
0.383057        1
0.545898        1
Name: BASEMENTAREA_MODE, Length: 3148, dtype: int64

 YEARS_BEGINEXPLUATATION_MODE 属性的不同取值和出现的次数
0.987305    4291
0.986816    4173
0.986328    4167
0.979980    4110
0.980469    4083
            ...
0.451904       1
0.435791       1
0.898926       1
0.916504       1
0.893555       1
Name: YEARS_BEGINEXPLUATATION_MODE, Length: 221, dtype: int64

 ELEVATORS_MODE 属性的不同取值和出现的次数
0.000000    89498
0.080627    11629
0.161133     9675
0.241699     6379
0.120789     5734
0.040314     4876
0.201416     3962
0.322266     2887
0.281982     2135
0.402832     1554
0.362549     1308
0.483398     1094
0.443115      628
0.563965      491
0.644531      447
0.523438      253
0.604004      226
0.725098      219
1.000000      144
0.805664      137
0.684570       99
0.966797       87
0.886230       66
0.765137       38
0.845703       34
0.926270       20
Name: ELEVATORS_MODE, dtype: int64

 ENTRANCES_MODE 属性的不同取值和出现的次数
0.137939    36041
0.068970    26704
0.103394    20533
0.206909    19678
0.034485    19428
0.172363     8986
0.275879     8036
0.241455     4013
0.344727     2046
0.310303     2014
0.413818     1212
0.379395      977
0.482910      500
0.448242      431
0.000000      387
0.551758      351
0.517090      301
0.620605      241
0.586426      186
1.000000      152
0.689941      116
0.655273       65
0.896484       52
0.758789       48
0.724121       44
0.827637       42
0.792969       39
0.965332       25
0.931152       21
0.862305       14
Name: ENTRANCES_MODE, dtype: int64

 FLOORSMAX_MODE 属性的不同取值和出现的次数
0.166748    65550
0.333252    34373
0.041687    15616
0.375000     8321
0.125000     7267
0.083313     6785
0.000000     3415
0.458252     3216
0.625000     2075
0.541504     1836
0.666504     1710
0.208252     1505
0.250000      572
0.291748      511
0.583496      391
0.416748      236
0.875000      229
0.708496      199
0.500000      184
1.000000      164
0.750000      124
0.958496       94
0.791504       58
0.916504       38
0.833496       22
Name: FLOORSMAX_MODE, dtype: int64

 LANDAREA_MODE 属性的不同取值和出现的次数
0.000000    17453
0.019394      208
0.064514      193
0.048401      192
0.032288      188
            ...
0.246826        1
0.600586        1
0.447021        1
0.490723        1
0.272217        1
Name: LANDAREA_MODE, Length: 3031, dtype: int64

 LIVINGAREA_MODE 属性的不同取值和出现的次数
0.000000    444
0.053009    272
0.053192    262
0.052887    249
0.053314    242
           ...
0.469727      1
0.726074      1
0.434326      1
0.662598      1
0.966797      1
Name: LIVINGAREA_MODE, Length: 3746, dtype: int64

 NONLIVINGAREA_MODE 属性的不同取值和出现的次数
0.000000    67126
0.001100      477
0.004601      466
0.003300      430
0.001200      427
            ...
0.542969        1
0.508301        1
0.455078        1
0.507812        1
0.462891        1
Name: NONLIVINGAREA_MODE, Length: 2924, dtype: int64

 APARTMENTS_MEDI 属性的不同取值和出现的次数
0.083313    7109
0.062500    6687
0.093689    4622
0.072876    4211
0.008301    3562
            ...
0.622559       1
0.772461       1
0.723633       1
0.888672       1
0.302490       1
Name: APARTMENTS_MEDI, Length: 1148, dtype: int64

 BASEMENTAREA_MEDI 属性的不同取值和出现的次数
0.000000    14991
0.081787      271
0.109070      266
0.054504      265
0.072693      248
            ...
0.608398        1
0.337891        1
0.348877        1
0.366211        1
0.273926        1
Name: BASEMENTAREA_MEDI, Length: 3121, dtype: int64

 YEARS_BEGINEXPLUATATION_MEDI 属性的不同取值和出现的次数
0.987305    4314
0.986328    4247
0.985840    4199
0.986816    4138
0.979980    4115
            ...
0.487793       1
0.898926       1
0.916504       1
0.486816       1
0.862793       1
Name: YEARS_BEGINEXPLUATATION_MEDI, Length: 244, dtype: int64

 ELEVATORS_MEDI 属性的不同取值和出现的次数
0.000000    87026
0.080017    10832
0.160034     9278
0.239990     6392
0.119995     5946
0.040009     4852
0.199951     4162
0.320068     2937
0.280029     2317
0.399902     1604
0.360107     1405
0.479980     1096
0.439941      715
0.099976      543
0.560059      493
0.640137      454
0.140015      388
0.059998      388
0.020004      368
0.520020      290
0.180054      280
0.600098      248
0.219971      226
0.720215      224
1.000000      158
0.260010      145
0.799805      140
0.680176      112
0.300049       94
0.959961       81
0.340088       80
0.879883       68
0.379883       62
0.759766       45
0.419922       32
0.839844       32
0.459961       23
0.919922       20
0.500000       16
0.540039       10
0.779785       10
0.580078        6
0.740234        6
0.899902        6
0.660156        5
0.620117        5
Name: ELEVATORS_MEDI, dtype: int64

 ENTRANCES_MEDI 属性的不同取值和出现的次数
0.137939    35535
0.068970    24193
0.103394    20492
0.206909    19750
0.034485    16150
0.172363     9566
0.275879     8048
0.241455     4318
0.344727     2108
0.310303     2086
0.086182     1352
0.120728     1228
0.413818     1198
0.379395     1010
0.155151      788
0.051697      611
0.189697      554
0.482910      503
0.448242      438
0.551758      352
0.000000      329
0.517090      304
0.224121      278
0.620605      241
0.586426      187
0.258545      169
1.000000      153
0.689941      116
0.293213      106
0.655273       68
0.327637       59
0.896484       52
0.758789       48
0.724121       44
0.827637       42
0.362061       39
0.792969       39
0.430908       31
0.965332       25
0.931152       21
0.396484       14
0.862305       14
0.465576       12
0.017197        7
0.568848        4
0.500000        1
Name: ENTRANCES_MEDI, dtype: int64

 FLOORSMAX_MEDI 属性的不同取值和出现的次数
0.166748    63607
0.333252    33279
0.041687    14832
0.375000     8207
0.125000     7079
0.083313     6657
0.458252     3089
0.000000     2995
0.625000     2042
0.541504     1860
0.250000     1684
0.666504     1675
0.208252     1544
0.291748      567
0.104187      460
0.354248      459
0.583496      439
0.395752      346
0.416748      329
0.145752      321
0.500000      312
0.270752      291
0.187500      245
0.875000      223
0.479248      220
0.708496      204
1.000000      170
0.437500      138
0.750000      136
0.062500      132
0.312500      131
0.229248      128
0.020798      126
0.604004      115
0.958496       95
0.791504       61
0.520996       47
0.562500       46
0.833496       39
0.916504       37
0.645996       30
0.770996       27
0.687500       24
0.812500       23
0.729004       10
0.937500        4
0.854004        3
0.895996        2
0.979004        1
Name: FLOORSMAX_MEDI, dtype: int64

 LANDAREA_MEDI 属性的不同取值和出现的次数
0.000000    15919
0.019302      197
0.064209      194
0.048187      186
0.016098      180
            ...
0.785645        1
0.966309        1
0.815918        1
0.342529        1
0.447021        1
Name: LANDAREA_MEDI, Length: 3041, dtype: int64

 LIVINGAREA_MEDI 属性的不同取值和出现的次数
0.000000    299
0.054810    239
0.051788    234
0.052002    233
0.052094    232
           ...
0.996094      1
0.675293      1
0.848633      1
0.470947      1
0.944336      1
Name: LIVINGAREA_MEDI, Length: 3741, dtype: int64

 NONLIVINGAREA_MEDI 属性的不同取值和出现的次数

0.000000    60954
0.001200      539
0.002199      478
0.003700      456
0.004398      431
            ...
0.247314        1
0.430908        1
0.203003        1
0.418701        1
0.293945        1
Name: NONLIVINGAREA_MEDI, Length: 2923, dtype: int64

 HOUSETYPE_MODE 属性的不同取值和出现的次数
block of flats      150503
specific housing      1499
terraced house        1212
Name: HOUSETYPE_MODE, dtype: int64

 TOTALAREA_MODE 属性的不同取值和出现的次数
0.000000    582
0.057007    247
0.054688    230
0.054810    227
0.054993    227
           ...
0.459717      1
0.477295      1
0.734375      1
0.460693      1
0.796875      1
Name: TOTALAREA_MODE, Length: 3660, dtype: int64

 WALLSMATERIAL_MODE 属性的不同取值和出现的次数
Panel           66040
Stone, brick    64815
Block            9253
Wooden           5362
Mixed            2296
Monolithic       1779
Others           1625
Name: WALLSMATERIAL_MODE, dtype: int64

 EMERGENCYSTATE_MODE 属性的不同取值和出现的次数
No     159428
Yes      2328
Name: EMERGENCYSTATE_MODE, dtype: int64

 OBS_30_CNT_SOCIAL_CIRCLE 属性的不同取值和出现的次数
0.0      163910
1.0       48783
2.0       29808
3.0       20322
4.0       14143
5.0        9553
6.0        6453
7.0        4390
8.0        2967
9.0        2003
10.0       1376
11.0        852
12.0        652
13.0        411
14.0        258
15.0        166
16.0        133
17.0         88
18.0         46
19.0         44
20.0         30
21.0         29
22.0         22
23.0         15
25.0         11
24.0         11
27.0          5
26.0          3
30.0          2
28.0          1
29.0          1
47.0          1
348.0         1
Name: OBS_30_CNT_SOCIAL_CIRCLE, dtype: int64

 DEF_30_CNT_SOCIAL_CIRCLE 属性的不同取值和出现的次数
0.0     271324
1.0      28328
2.0       5323
3.0       1192
4.0        253
5.0         56
6.0         11
7.0          1
34.0         1
8.0          1
Name: DEF_30_CNT_SOCIAL_CIRCLE, dtype: int64

 OBS_60_CNT_SOCIAL_CIRCLE 属性的不同取值和出现的次数
0.0      164666
1.0       48870
2.0       29766
3.0       20215
4.0       13946
5.0        9463
6.0        6349
7.0        4344
8.0        2886
9.0        1959
10.0       1335
11.0        837
12.0        620
13.0        401
14.0        238
15.0        166
16.0        137
17.0         73
18.0         49
19.0         44
20.0         30
21.0         28
22.0         20
23.0         13
24.0         12
25.0         11
27.0          5
29.0          2
28.0          1
47.0          1
344.0         1
30.0          1
26.0          1
Name: OBS_60_CNT_SOCIAL_CIRCLE, dtype: int64

 DEF_60_CNT_SOCIAL_CIRCLE 属性的不同取值和出现的次数
0.0     280721
1.0      21841
2.0       3170
3.0        598
4.0        135
5.0         20
6.0          3
7.0          1
24.0         1
Name: DEF_60_CNT_SOCIAL_CIRCLE, dtype: int64

 DAYS_LAST_PHONE_CHANGE 属性的不同取值和出现的次数
 0.0       37672
-1.0        2812
-2.0        2318
-3.0        1763
-4.0        1285
           ...
-3514.0        1
-3818.0        1
-3828.0        1
-4044.0        1
-3538.0        1
Name: DAYS_LAST_PHONE_CHANGE, Length: 2957, dtype: int64

 FLAG_DOCUMENT_2 属性的不同取值和出现的次数
0    307498
1        13
Name: FLAG_DOCUMENT_2, dtype: int64

 FLAG_DOCUMENT_3 属性的不同取值和出现的次数
1    218340
0     89171
Name: FLAG_DOCUMENT_3, dtype: int64

 FLAG_DOCUMENT_4 属性的不同取值和出现的次数
0    307486
1        25
Name: FLAG_DOCUMENT_4, dtype: int64

 FLAG_DOCUMENT_5 属性的不同取值和出现的次数
0    302863
1      4648
Name: FLAG_DOCUMENT_5, dtype: int64

 FLAG_DOCUMENT_6 属性的不同取值和出现的次数
0    280433
1     27078
Name: FLAG_DOCUMENT_6, dtype: int64

 FLAG_DOCUMENT_7 属性的不同取值和出现的次数
0    307452
1        59
Name: FLAG_DOCUMENT_7, dtype: int64

 FLAG_DOCUMENT_8 属性的不同取值和出现的次数
0    282487
1     25024
Name: FLAG_DOCUMENT_8, dtype: int64

 FLAG_DOCUMENT_9 属性的不同取值和出现的次数
0    306313
1      1198
Name: FLAG_DOCUMENT_9, dtype: int64

 FLAG_DOCUMENT_10 属性的不同取值和出现的次数
0    307504
1         7
Name: FLAG_DOCUMENT_10, dtype: int64

 FLAG_DOCUMENT_11 属性的不同取值和出现的次数
0    306308
1      1203
Name: FLAG_DOCUMENT_11, dtype: int64

 FLAG_DOCUMENT_12 属性的不同取值和出现的次数
0    307509
1         2
Name: FLAG_DOCUMENT_12, dtype: int64

 FLAG_DOCUMENT_13 属性的不同取值和出现的次数
0    306427
1      1084
Name: FLAG_DOCUMENT_13, dtype: int64

 FLAG_DOCUMENT_14 属性的不同取值和出现的次数
0    306608
1       903
Name: FLAG_DOCUMENT_14, dtype: int64

 FLAG_DOCUMENT_15 属性的不同取值和出现的次数
0    307139
1       372
Name: FLAG_DOCUMENT_15, dtype: int64

 FLAG_DOCUMENT_16 属性的不同取值和出现的次数
0    304458
1      3053
Name: FLAG_DOCUMENT_16, dtype: int64

 FLAG_DOCUMENT_17 属性的不同取值和出现的次数
0    307429
1        82
Name: FLAG_DOCUMENT_17, dtype: int64

 FLAG_DOCUMENT_18 属性的不同取值和出现的次数
0    305011
1      2500
Name: FLAG_DOCUMENT_18, dtype: int64

 FLAG_DOCUMENT_19 属性的不同取值和出现的次数
0    307328
1       183
Name: FLAG_DOCUMENT_19, dtype: int64

 FLAG_DOCUMENT_20 属性的不同取值和出现的次数
0    307355
1       156
Name: FLAG_DOCUMENT_20, dtype: int64

 FLAG_DOCUMENT_21 属性的不同取值和出现的次数
0    307408
1       103
Name: FLAG_DOCUMENT_21, dtype: int64

 AMT_REQ_CREDIT_BUREAU_HOUR 属性的不同取值和出现的次数
0.0    264366
1.0      1560
2.0        56
3.0         9
4.0         1
Name: AMT_REQ_CREDIT_BUREAU_HOUR, dtype: int64

 AMT_REQ_CREDIT_BUREAU_DAY 属性的不同取值和出现的次数
0.0    264503
1.0      1292
2.0       106
3.0        45
4.0        26
5.0         9
6.0         8
9.0         2
8.0         1
Name: AMT_REQ_CREDIT_BUREAU_DAY, dtype: int64

 AMT_REQ_CREDIT_BUREAU_WEEK 属性的不同取值和出现的次数
0.0    257456
1.0      8208
2.0       199
3.0        58
4.0        34
6.0        20
5.0        10
8.0         5
7.0         2
Name: AMT_REQ_CREDIT_BUREAU_WEEK, dtype: int64

 AMT_REQ_CREDIT_BUREAU_MON 属性的不同取值和出现的次数
0.0     222233
1.0      33147
2.0       5386
3.0       1991
4.0       1076
5.0        602
6.0        343
7.0        298
9.0        206
8.0        185
10.0       132
11.0       119
12.0        77
13.0        72
14.0        40
15.0        35
16.0        23
17.0        14
18.0         6
19.0         3
24.0         1
23.0         1
27.0         1
22.0         1
Name: AMT_REQ_CREDIT_BUREAU_MON, dtype: int64

 AMT_REQ_CREDIT_BUREAU_QRT 属性的不同取值和出现的次数
0.0      215417
1.0       33862
2.0       14412
3.0        1717
4.0         476
5.0          64
6.0          28
8.0           7
7.0           7
261.0         1
19.0          1
Name: AMT_REQ_CREDIT_BUREAU_QRT, dtype: int64

 AMT_REQ_CREDIT_BUREAU_YEAR 属性的不同取值和出现的次数
0.0     71801
1.0     63405
2.0     50192
3.0     33628
4.0     20714
5.0     12052
6.0      6967
7.0      3869
8.0      2127
9.0      1096
11.0       31
12.0       30
10.0       22
13.0       19
14.0       10
17.0        7
15.0        6
19.0        4
18.0        4
16.0        3
25.0        1
23.0        1
22.0        1
21.0        1
20.0        1
Name: AMT_REQ_CREDIT_BUREAU_YEAR, dtype: int64

 DAYS_EMPLOYED_PERC 属性的不同取值和出现的次数
-0.000000    55376
 0.200000       12
 0.125000       12
 0.250000       10
 0.111111        9
             ...
 0.135410        1
 0.072979        1
 0.113030        1
 0.117610        1
 0.074874        1
Name: DAYS_EMPLOYED_PERC, Length: 249475, dtype: int64

 INCOME_CREDIT_PERC 属性的不同取值和出现的次数
0.299999    1182
0.349999    1168
0.499998    1137
0.499998    1056
0.624997    1047
            ...
0.645975       1
0.763047       1
0.092915       1
0.242824       1
0.462027       1
Name: INCOME_CREDIT_PERC, Length: 62583, dtype: int64

 INCOME_PER_PERSON 属性的不同取值和出现的次数
45000.000     29666
67500.000     18676
37500.000     15775
52500.000     13633
22500.000     13012
              ...
9468.000          1
108934.500        1
87109.500         1
58662.000         1
28265.625         1
Name: INCOME_PER_PERSON, Length: 3175, dtype: int64

 ANNUITY_INCOME_PERC 属性的不同取值和出现的次数
0.079999    933
0.099999    929
0.099999    867
0.066666    861
0.119999    776
           ...
0.399796      1
0.348769      1
0.092303      1
0.295186      1
0.118157      1
Name: ANNUITY_INCOME_PERC, Length: 122173, dtype: int64

 PAYMENT_RATE 属性的不同取值和出现的次数
0.050000    6377
0.050000    5472
0.050000    2277
0.050000    2034
0.029340    1596
            ...
0.067271       1
0.040729       1
0.033047       1
0.030317       1
0.055838       1
Name: PAYMENT_RATE, Length: 41704, dtype: int64

 NEW_CREDIT_TO_ANNUITY_RATIO 属性的不同取值和出现的次数
19.997778    6377
19.998518    5472
19.997038    2277
19.998024    2034
34.082432    1596
             ...
14.965438       1
19.463144       1
18.437468       1
24.156075       1
27.841427       1
Name: NEW_CREDIT_TO_ANNUITY_RATIO, Length: 41688, dtype: int64

 NEW_CREDIT_TO_GOODS_RATIO 属性的不同取值和出现的次数
0.999998    12456
0.999999    10698
0.999996     8094
0.999994     7245
0.999999     7187
            ...
0.499999        1
1.029038        1
1.666661        1
1.659988        1
1.264001        1
Name: NEW_CREDIT_TO_GOODS_RATIO, Length: 2756, dtype: int64

 NEW_DOC_IND_AVG 属性的不同取值和出现的次数
0.05    270056
0.00     29549
0.10      7742
0.15       163
0.20         1
Name: NEW_DOC_IND_AVG, dtype: int64

 NEW_DOC_IND_STD 属性的不同取值和出现的次数
0.223607    212049
0.223607     56431
0.000000     29549
0.307794      7742
0.223607      1158
0.223607       332
0.366348       138
0.223607        86
0.366348        25
0.410391         1
Name: NEW_DOC_IND_STD, dtype: int64

 NEW_DOC_IND_KURT 属性的不同取值和出现的次数
20.000000    212049
0.000000      29549
20.000000     27034
20.000000     24729
7.037037       6886
20.000000      4668
20.000000      1158
7.037037        856
20.000000       315
2.775855        107
20.000000        86
2.775855         39
20.000000        17
2.775855         12
2.775855          5
0.698529          1
Name: NEW_DOC_IND_KURT, dtype: int64

 NEW_LIVE_IND_SUM 属性的不同取值和出现的次数
3    160972
4     70671
2     38357
5     35492
6      1992
1        27
Name: NEW_LIVE_IND_SUM, dtype: int64

 NEW_LIVE_IND_STD 属性的不同取值和出现的次数
0.547723    160972
0.516398    109028
0.408248     35519
0.000000      1992
Name: NEW_LIVE_IND_STD, dtype: int64

 NEW_LIVE_IND_KURT 属性的不同取值和出现的次数
-3.333333    160972
-1.875000     70671
-1.875000     37972
 6.000000     32581
 6.000000      2938
 0.000000      1992
-1.875000       385
Name: NEW_LIVE_IND_KURT, dtype: int64

 NEW_INC_PER_CHLD 属性的不同取值和出现的次数
135000.00    27223
112500.00    26624
90000.00     22055
157500.00    19754
180000.00    17829
             ...
12500.00         1
134149.50        1
12510.00         1
49783.50         1
56531.25         1
Name: NEW_INC_PER_CHLD, Length: 2949, dtype: int64

 NEW_INC_BY_ORG 属性的不同取值和出现的次数
157500.0    117628
117000.0     55374
135000.0     43670
148500.0     38412
180000.0     17570
126000.0      9334
144000.0      9138
153000.0      3247
202500.0      3030
137227.5      2704
189000.0      2341
112500.0      2157
162000.0      1972
165600.0       429
225000.0       305
139050.0       112
176625.0        64
162450.0        24
Name: NEW_INC_BY_ORG, dtype: int64

 NEW_PHONE_TO_BIRTH_RATIO 属性的不同取值和出现的次数
-0.000000    37672
 0.090909       11
 0.083333       10
 0.052632       10
 0.058824        9
             ...
 0.127686        1
 0.000094        1
 0.038592        1
 0.023427        1
 0.046692        1
Name: NEW_PHONE_TO_BIRTH_RATIO, Length: 264471, dtype: int64

 NEW_PHONE_TO_EMPLOY_RATIO 属性的不同取值和出现的次数
 0.000000    37672
-2.000000      529
-1.000000      440
-3.000000      296
-4.000000      119
             ...
 3.510949        1
 0.164598        1
 0.043188        1
 0.577375        1
 0.624108        1
Name: NEW_PHONE_TO_EMPLOY_RATIO, Length: 207168, dtype: int64

In [52]:
# 删除同值化超过95%的特征

drop_list = ["FLAG_MOBIL","FLAG_CONT_MOBILE","REG_REGION_NOT_LIVE_REGION","LIVE_REGION_NOT_WORK_REGION","FLAG_DOCUMENT_2","FLAG_DOCUMENT_4",
       "FLAG_DOCUMENT_5","FLAG_DOCUMENT_7","FLAG_DOCUMENT_9","FLAG_DOCUMENT_10","FLAG_DOCUMENT_11","FLAG_DOCUMENT_12","FLAG_DOCUMENT_13",
       "FLAG_DOCUMENT_14","FLAG_DOCUMENT_15","FLAG_DOCUMENT_16","FLAG_DOCUMENT_17","FLAG_DOCUMENT_18","FLAG_DOCUMENT_19","FLAG_DOCUMENT_20",
       "FLAG_DOCUMENT_21"]

In [53]:
application.drop(labels = drop_list,axis = 1, inplace = True)

In [54]:
application.shape

(307511, 98)

# 编码

In [55]:
def encoder(df):
    original_columns = list(df.columns)
    # Create a label encoder object
    le = LabelEncoder()
    # Iterate through the columns
    for col in df:
        if df[col].dtype == 'object':
            # If 2 or fewer unique categories
            if len(list(df[col].unique())) <= 2:
                # Train on the training data
                le.fit(df[col])
                # Transform both training and testing data
                df[col] = le.transform(df[col])
    
    categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    df = pd.get_dummies(df, columns= categorical_columns, dummy_na= True) # 空也算一种类型
    new_columns = [c for c in df.columns if c not in original_columns]
    return df, new_columns


def data_labelencode(data):
    # 创建一个Label对象
    le = LabelEncoder()
    le_count = 0

    # 遍历每一个变量
    for col in data:
        if data[col].dtype == 'object':
            # 特征内只有两个变量
            if len(list(data[col].unique())) <= 2:
                # 编码
                le.fit(data[col])
                # 编码
                data[col] = le.transform(data[col])

                # 统计编码个数
                le_count += 1

    print('%d columns were label encoded.' % le_count)
    return data


def encode_impute(df):
    df = data_labelencode(df)
    df = pd.get_dummies(df)
    types = np.array([z for z in df.dtypes])
    all_columns = df.columns.values               
    is_num = types != 'object'  
    #is_num = np.array([str(x)[:1] != 'c' for x in types]) 
    num_features = all_columns[is_num].tolist()         
    cat_features = all_columns[~is_num].tolist() 
    features = num_features + cat_features
    Pipe_num = Pipeline(
        steps=[
        ('imputer', SimpleImputer(strategy = 'median')),        # tried median, mean, constant strategies
        ('scaler', StandardScaler())       ])

    Pipe_cat = Pipeline(
        steps=[
        ('imputer', SimpleImputer(strategy = 'constant', fill_value = 'Unknown')),
        ('onehot', OneHotEncoder())])

    preprocessor = ColumnTransformer(
        transformers = [
            ('num', Pipe_num, num_features),
            ('cat', Pipe_cat, cat_features)])

    data = preprocessor.fit_transform(df[features])
    return data, df.columns

In [56]:
data_X = application.drop(['TARGET'], axis=1)  # X dataFrame
y = application["TARGET"]  # Series
data_X.replace([np.inf, -np.inf], np.nan, inplace=True)
data_X.fillna(0, inplace=True)
data, columns = encode_impute(data_X)
data_app =  pd.DataFrame(data, columns=columns,index = sk_id)
data_app = pd.concat([data_app, y], axis=1)
data_app.index.name = 'SK_ID_CURR'

3 columns were label encoded.

In [57]:
data_app.head(10)

,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_0,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,TARGET
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,-0.324395,-0.717914,0.664531,-0.577538,0.142129,-0.478095,-0.166065,-0.505662,-0.149689,1.506880,...,-0.086733,-0.076281,-0.072886,-0.522963,1.935056,-0.133215,-0.949252,0.963763,-0.08734,1
100003,-0.324395,-0.717914,-1.504820,-0.577538,0.426792,1.725450,0.592710,1.600480,-1.252595,-0.166821,...,-0.086733,-0.076281,-0.072886,-0.522963,-0.516781,-0.133215,-0.949252,0.963763,-0.08734,0
100004,3.082659,1.392925,0.664531,-0.577538,-0.427196,-1.152888,-1.404507,-1.090025,-0.783388,-0.689509,...,-0.086733,-0.076281,-0.072886,-0.522963,-0.516781,-0.133215,1.053461,-1.037599,-0.08734,0
100006,-0.324395,-0.717914,0.664531,-0.577538,-0.142533,-0.711430,0.177929,-0.651753,-0.928990,-0.680114,...,-0.086733,-0.076281,-0.072886,-0.522963,-0.516781,-0.133215,1.053461,-1.037599,-0.08734,0
100007,-0.324395,-0.717914,0.664531,-0.577538,-0.199466,-0.213734,-0.361658,-0.067390,0.562878,-0.892535,...,-0.086733,-0.076281,-0.072886,-0.522963,-0.516781,-0.133215,1.053461,-1.037599,-0.08734,0
100008,-0.324395,-0.717914,0.664531,-0.577538,-0.294354,-0.269648,0.028286,-0.225655,1.079103,-0.207151,...,-0.086733,-0.076281,-0.072886,-0.522963,-0.516781,-0.133215,1.053461,-1.037599,-0.08734,0
100009,-0.324395,1.392925,0.664531,0.807273,0.009287,2.389375,0.979238,2.318760,1.079103,0.517645,...,-0.086733,-0.076281,-0.072886,-0.522963,-0.516781,-0.133215,1.053461,-1.037599,-0.08734,0
100010,-0.324395,1.392925,0.664531,-0.577538,0.806342,2.313036,1.032638,2.683987,-1.282929,-0.644596,...,-0.086733,-0.076281,-0.072886,-0.522963,-0.516781,-0.133215,1.053461,-1.037599,-0.08734,0
100011,-0.324395,-0.717914,0.664531,-0.577538,-0.237421,1.044955,0.463557,1.016117,-0.161822,-0.930803,...,-0.086733,-0.076281,-0.072886,-0.522963,-0.516781,-0.133215,1.053461,-1.037599,-0.08734,0
100012,3.082659,-0.717914,0.664531,-0.577538,-0.142533,-0.482064,-0.473114,-0.359571,-0.085712,0.359304,...,-0.086733,-0.076281,-0.072886,-0.522963,-0.516781,-0.133215,1.053461,-1.037599,-0.08734,0

In [58]:
data_app.shape

(307511, 221)

In [59]:
data_app.head(10)

,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_0,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,TARGET
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,-0.324395,-0.717914,0.664531,-0.577538,0.142129,-0.478095,-0.166065,-0.505662,-0.149689,1.506880,...,-0.086733,-0.076281,-0.072886,-0.522963,1.935056,-0.133215,-0.949252,0.963763,-0.08734,1
100003,-0.324395,-0.717914,-1.504820,-0.577538,0.426792,1.725450,0.592710,1.600480,-1.252595,-0.166821,...,-0.086733,-0.076281,-0.072886,-0.522963,-0.516781,-0.133215,-0.949252,0.963763,-0.08734,0
100004,3.082659,1.392925,0.664531,-0.577538,-0.427196,-1.152888,-1.404507,-1.090025,-0.783388,-0.689509,...,-0.086733,-0.076281,-0.072886,-0.522963,-0.516781,-0.133215,1.053461,-1.037599,-0.08734,0
100006,-0.324395,-0.717914,0.664531,-0.577538,-0.142533,-0.711430,0.177929,-0.651753,-0.928990,-0.680114,...,-0.086733,-0.076281,-0.072886,-0.522963,-0.516781,-0.133215,1.053461,-1.037599,-0.08734,0
100007,-0.324395,-0.717914,0.664531,-0.577538,-0.199466,-0.213734,-0.361658,-0.067390,0.562878,-0.892535,...,-0.086733,-0.076281,-0.072886,-0.522963,-0.516781,-0.133215,1.053461,-1.037599,-0.08734,0
100008,-0.324395,-0.717914,0.664531,-0.577538,-0.294354,-0.269648,0.028286,-0.225655,1.079103,-0.207151,...,-0.086733,-0.076281,-0.072886,-0.522963,-0.516781,-0.133215,1.053461,-1.037599,-0.08734,0
100009,-0.324395,1.392925,0.664531,0.807273,0.009287,2.389375,0.979238,2.318760,1.079103,0.517645,...,-0.086733,-0.076281,-0.072886,-0.522963,-0.516781,-0.133215,1.053461,-1.037599,-0.08734,0
100010,-0.324395,1.392925,0.664531,-0.577538,0.806342,2.313036,1.032638,2.683987,-1.282929,-0.644596,...,-0.086733,-0.076281,-0.072886,-0.522963,-0.516781,-0.133215,1.053461,-1.037599,-0.08734,0
100011,-0.324395,-0.717914,0.664531,-0.577538,-0.237421,1.044955,0.463557,1.016117,-0.161822,-0.930803,...,-0.086733,-0.076281,-0.072886,-0.522963,-0.516781,-0.133215,1.053461,-1.037599,-0.08734,0
100012,3.082659,-0.717914,0.664531,-0.577538,-0.142533,-0.482064,-0.473114,-0.359571,-0.085712,0.359304,...,-0.086733,-0.076281,-0.072886,-0.522963,-0.516781,-0.133215,1.053461,-1.037599,-0.08734,0

In [60]:
data_app.to_csv("C:/data/processing_data/data_app.csv")

# 读取其他文件

# bureau

In [27]:
# 总结处理过程
def data_processing(df):
    # 正无穷和负无穷使用nan填充
    bureau.replace([np.inf, -np.inf], np.nan, inplace=True)
    # nan使用0填充
    bureau.fillna(0, inplace=True)
    print("before process df shape:",df.shape)
    print(missing_values(df).head(30))
    print("drop missing values over 60")
    drop_columns(df, 60)
    print("after drop missing values df shape:",df.shape)
    drop_list = []
    # 同值化处理，删除超过特征中某个值个数超过0.95的特征
    for col in df.columns:
        # print("\n %s 属性的不同取值和出现的次数" %col)
        #  print(df[col].value_counts())
        if df[col].value_counts().max() > df.shape[0]*0.95:
            drop_list.append(col)
    print("the same values feature num :", len(drop_list))
    df.drop(labels = drop_list, axis = 1, inplace = True)
    print("after process df shape:",df.shape)
    return df

In [28]:
b = pd.read_csv(path + 'bureau.csv')
b

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.00,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.00,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.50,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.00,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.00,NaN,NaN,0.0,Consumer credit,-21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716423,259355,5057750,Active,currency 1,-44,0,-30.0,NaN,0.0,0,11250.00,11250.0,0.0,0.0,Microloan,-19,NaN
1716424,100044,5057754,Closed,currency 1,-2648,0,-2433.0,-2493.0,5476.5,0,38130.84,0.0,0.0,0.0,Consumer credit,-2493,NaN
1716425,100044,5057762,Closed,currency 1,-1809,0,-1628.0,-970.0,NaN,0,15570.00,NaN,NaN,0.0,Consumer credit,-967,NaN
1716426,246829,5057770,Closed,currency 1,-1878,0,-1513.0,-1513.0,NaN,0,36000.00,0.0,0.0,0.0,Consumer credit,-1508,NaN
1716427,246829,5057778,Closed,currency 1,-463,0,NaN,-387.0,NaN,0,22500.00,0.0,NaN,0.0,Microloan,-387,NaN

In [29]:
b = pd.read_csv(path + 'bureau.csv')
b.head(20)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.00,0.00,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.00,171342.00,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.50,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.00,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.00,NaN,NaN,0.0,Consumer credit,-21,NaN
5,215354,5714467,Active,currency 1,-273,0,27460.0,NaN,0.0,0,180000.00,71017.38,108982.62,0.0,Credit card,-31,NaN
6,215354,5714468,Active,currency 1,-43,0,79.0,NaN,0.0,0,42103.80,42103.80,0.00,0.0,Consumer credit,-22,NaN
7,162297,5714469,Closed,currency 1,-1896,0,-1684.0,-1710.0,14985.0,0,76878.45,0.00,0.00,0.0,Consumer credit,-1710,NaN
8,162297,5714470,Closed,currency 1,-1146,0,-811.0,-840.0,0.0,0,103007.70,0.00,0.00,0.0,Consumer credit,-840,NaN
9,162297,5714471,Active,currency 1,-1146,0,-484.0,NaN,0.0,0,4500.00,0.00,0.00,0.0,Credit card,-690,NaN
10,162297,5714472,Active,currency 1,-1146,0,-180.0,NaN,0.0,0,337500.00,0.00,0.00,0.0,Credit card,-690,NaN
11,162297,5714473,Closed,currency 1,-2456,0,-629.0,-825.0,NaN,0,675000.00,0.00,0.00,0.0,Consumer credit,-706,NaN
12,162297,5714474,Active,currency 1,-277,0,5261.0,NaN,0.0,0,7033500.00,NaN,NaN,0.0,Mortgage,-31,NaN
13,402440,5714475,Active,currency 1,-96,0,269.0,NaN,0.0,0,89910.00,76905.00,0.00,0.0,Consumer credit,-22,NaN
14,238881,5714482,Closed,currency 1,-318,0,-187.0,-187.0,NaN,0,0.00,0.00,0.00,0.0,Credit card,-185,NaN
15,238881,5714484,Closed,currency 1,-2911,0,-2607.0,-2604.0,NaN,0,48555.00,NaN,NaN,0.0,Consumer credit,-2601,NaN
16,238881,5714485,Closed,currency 1,-2148,0,-1595.0,-987.0,NaN,0,135000.00,NaN,NaN,0.0,Consumer credit,-984,NaN
17,238881,5714486,Active,currency 1,-381,0,NaN,NaN,NaN,0,450000.00,520920.00,NaN,0.0,Consumer credit,-4,NaN
18,238881,5714487,Active,currency 1,-95,0,1720.0,NaN,NaN,0,67500.00,8131.50,NaN,0.0,Credit card,-7,NaN
19,238881,5714488,Closed,currency 1,-444,0,-77.0,-77.0,0.0,0,107184.06,0.00,0.00,0.0,Consumer credit,-71,NaN

In [30]:
# bureau and bureau_balance
def bureau_and_balance(num_rows = None):
    bureau = pd.read_csv(path + 'bureau.csv', nrows = num_rows)
    bureau = reduce_mem_usage(bureau)
    bb = pd.read_csv(path+ 'bureau_balance.csv', nrows = num_rows)
    bb = reduce_mem_usage(bb)
    print("before bureau shape:", bureau.shape)
    print("before bureau balance shape:", bb.shape)
    bb, bb_cat = encoder(bb)
    bureau, bureau_cat = encoder(bureau)
    
    # 同一个用户有多个记录，进行计算平均值
    bb_aggregations = {'MONTHS_BALANCE': ['min', 'max', 'size']}
    for col in bb_cat:
        bb_aggregations[col] = ['mean']
    bb_agg = bb.groupby('SK_ID_BUREAU').agg(bb_aggregations)
    print(bb_agg.head(10))
    bb_agg.columns = pd.Index([e[0] + "_" + e[1].upper() for e in bb_agg.columns.tolist()]) # 列明
    bureau = bureau.join(bb_agg, how='left', on='SK_ID_BUREAU')
    bureau.drop(['SK_ID_BUREAU'], axis=1, inplace= True)
    del bb, bb_agg
    gc.collect()
    
    # 聚合特征
    num_aggregations = {
        'DAYS_CREDIT': ['min', 'max', 'mean', 'var'],
        'DAYS_CREDIT_ENDDATE': ['min', 'max', 'mean'],
        'DAYS_CREDIT_UPDATE': ['mean'],
        'CREDIT_DAY_OVERDUE': ['max', 'mean'],
        'AMT_CREDIT_MAX_OVERDUE': ['mean'],
        'AMT_CREDIT_SUM': ['max', 'mean', 'sum'],
        'AMT_CREDIT_SUM_DEBT': ['max', 'mean', 'sum'],
        'AMT_CREDIT_SUM_OVERDUE': ['mean'],
        'AMT_CREDIT_SUM_LIMIT': ['mean', 'sum'],
        'AMT_ANNUITY': ['max', 'mean'],
        'CNT_CREDIT_PROLONG': ['sum'],
        'MONTHS_BALANCE_MIN': ['min'],
        'MONTHS_BALANCE_MAX': ['max'],
        'MONTHS_BALANCE_SIZE': ['mean', 'sum']
    }
    # 类别特征
    cat_aggregations = {}
    for cat in bureau_cat: cat_aggregations[cat] = ['mean']
    for cat in bb_cat: cat_aggregations[cat + "_MEAN"] = ['mean']
        
    # **形参是字典类型
    
    print("+++++++++++++++++++++++++++++++++++++++++++++++")
    bureau_agg = bureau.groupby('SK_ID_CURR').agg({**num_aggregations, **cat_aggregations})
    bureau_agg.columns = pd.Index(['BURO_' + e[0] + "_" + e[1].upper() for e in bureau_agg.columns.tolist()]) # 聚合的名字规则，列名+类别名称
    # Bureau: Active credits - 数值类型，active为1的聚合
    print(bureau_agg.head(10))
    print("+++++++++++++++++++++++++++++++++++++++++++++++")
    print(bureau.head(10))
    active = bureau[bureau['CREDIT_ACTIVE_Active'] == 1]
    active_agg = active.groupby('SK_ID_CURR').agg(num_aggregations)
    cols = active_agg.columns.tolist()
    active_agg.columns = pd.Index(['ACTIVE_' + e[0] + "_" + e[1].upper() for e in active_agg.columns.tolist()]) 
    bureau_agg = bureau_agg.join(active_agg, how='left', on='SK_ID_CURR')
    
    del active, active_agg
    gc.collect()
    # Bureau: Closed credits - 已经关闭的贷款，
    closed = bureau[bureau['CREDIT_ACTIVE_Closed'] == 1]
    closed_agg = closed.groupby('SK_ID_CURR').agg(num_aggregations)
    closed_agg.columns = pd.Index(['CLOSED_' + e[0] + "_" + e[1].upper() for e in closed_agg.columns.tolist()])
    bureau_agg = bureau_agg.join(closed_agg, how='left', on='SK_ID_CURR')
    
    for e in cols:
        bureau_agg['NEW_RATIO_BURO_' + e[0] + "_" + e[1].upper()] = bureau_agg['ACTIVE_' + e[0] + "_" + e[1].upper()] / bureau_agg['CLOSED_' + e[0] + "_" + e[1].upper()]
    
    del closed, closed_agg, bureau
    gc.collect()
    print("after shape", bureau_agg.shape)
    return bureau_agg

In [31]:
bureau = bureau_and_balance()

Memory usage of dataframe: 222.62 MB
Memory usage after optimization: 112.95 MB
Decreased by 49.3%
Memory usage of dataframe: 624.85 MB
Memory usage after optimization: 338.46 MB
Decreased by 45.8%
before bureau shape: (1716428, 17)
before bureau balance shape: (27299925, 3)
             MONTHS_BALANCE           STATUS_0  STATUS_1 STATUS_2 STATUS_3  \
                        min max size      mean      mean     mean     mean
SK_ID_BUREAU
5001709                 -96   0   97  0.000000  0.000000      0.0      0.0
5001710                 -82   0   83  0.060241  0.000000      0.0      0.0
5001711                  -3   0    4  0.750000  0.000000      0.0      0.0
5001712                 -18   0   19  0.526316  0.000000      0.0      0.0
5001713                 -21   0   22  0.000000  0.000000      0.0      0.0
5001714                 -14   0   15  0.000000  0.000000      0.0      0.0
5001715                 -59   0   60  0.000000  0.000000      0.0      0.0
5001716                 -85   0   86  0.313953  0.000000      0.0      0.0
5001717                 -21   0   22  0.772727  0.000000      0.0      0.0
5001718                 -38   0   39  0.615385  0.051282      0.0      0.0

             STATUS_4 STATUS_5  STATUS_C  STATUS_X STATUS_nan
                 mean     mean      mean      mean       mean
SK_ID_BUREAU
5001709           0.0      0.0  0.886598  0.113402        0.0
5001710           0.0      0.0  0.578313  0.361446        0.0
5001711           0.0      0.0  0.000000  0.250000        0.0
5001712           0.0      0.0  0.473684  0.000000        0.0
5001713           0.0      0.0  0.000000  1.000000        0.0
5001714           0.0      0.0  0.000000  1.000000        0.0
5001715           0.0      0.0  0.000000  1.000000        0.0
5001716           0.0      0.0  0.453488  0.232558        0.0
5001717           0.0      0.0  0.227273  0.000000        0.0
5001718           0.0      0.0  0.076923  0.256410        0.0
+++++++++++++++++++++++++++++++++++++++++++++++
            BURO_DAYS_CREDIT_MIN  BURO_DAYS_CREDIT_MAX  BURO_DAYS_CREDIT_MEAN  \
SK_ID_CURR
100001                     -1572                   -49            -735.000000
100002                     -1437                  -103            -874.000000
100003                     -2586                  -606           -1400.750000
100004                     -1326                  -408            -867.000000
100005                      -373                   -62            -190.666667
100007                     -1149                 -1149           -1149.000000
100008                     -1097                   -78            -757.333333
100009                     -2882                  -239           -1271.500000
100010                     -2741                 -1138           -1939.500000
100011                     -2508                 -1309           -1773.000000

            BURO_DAYS_CREDIT_VAR  BURO_DAYS_CREDIT_ENDDATE_MIN  \
SK_ID_CURR
100001              2.400437e+05                       -1329.0
100002              1.861500e+05                       -1072.0
100003              8.277836e+05                       -2434.0
100004              4.213620e+05                        -595.0
100005              2.634033e+04                        -128.0
100007                       NaN                        -783.0
100008              3.461203e+05                        -853.0
100009              4.426300e+05                       -2152.0
100010              1.284804e+06                        -928.0
100011              3.334180e+05                       -2172.0

            BURO_DAYS_CREDIT_ENDDATE_MAX  BURO_DAYS_CREDIT_ENDDATE_MEAN  \
SK_ID_CURR
100001                            1778.0                        82.4375
100002                             780.0                      -349.0000
100003                            1216.0                      -544.5000
100004                            -382.0                      -488.5000
100005                            1324.0                       439.2500
100007                            -783.0                      -783.0000
100008                             471.0                      -391.2500
100009                            1402.0                      -795.0000
100010                             689.0                      -119.5000
100011                            -860.0                     -1293.0000

            BURO_DAYS_CREDIT_UPDATE_MEAN  BURO_CREDIT_DAY_OVERDUE_MAX  \
SK_ID_CURR
100001                        -93.142857                            0
100002                       -499.875000                            0
100003                       -816.000000                            0
100004                       -532.000000                            0
100005                        -54.333333                            0
100007                       -783.000000                            0
100008                       -611.000000                            0
100009                       -851.611111                            0
100010                       -578.000000                            0
100011                      -1454.750000                            0

            BURO_CREDIT_DAY_OVERDUE_MEAN  ...  BURO_CREDIT_TYPE_nan_MEAN  \
SK_ID_CURR                                ...
100001                               0.0  ...                        0.0
100002                               0.0  ...                        0.0
100003                               0.0  ...                        0.0
100004                               0.0  ...                        0.0
100005                               0.0  ...                        0.0
100007                               0.0  ...                        0.0
100008                               0.0  ...                        0.0
100009                               0.0  ...                        0.0
100010                               0.0  ...                        0.0
100011                               0.0  ...                        0.0

            BURO_STATUS_0_MEAN_MEAN  BURO_STATUS_1_MEAN_MEAN  \
SK_ID_CURR
100001                     0.336651                 0.007519
100002                     0.406960                 0.255682
100003                          NaN                      NaN
100004                          NaN                      NaN
100005                     0.735043                 0.000000
100007                          NaN                      NaN
100008                          NaN                      NaN
100009                          NaN                      NaN
100010                     0.277778                 0.000000
100011                          NaN                      NaN

            BURO_STATUS_2_MEAN_MEAN  BURO_STATUS_3_MEAN_MEAN  \
SK_ID_CURR
100001                          0.0                      0.0
100002                          0.0                      0.0
100003                          NaN                      NaN
100004                          NaN                      NaN
100005                          0.0                      0.0
100007                          NaN                      NaN
100008                          NaN                      NaN
100009                          NaN                      NaN
100010                          0.0                      0.0
100011                          NaN                      NaN

            BURO_STATUS_4_MEAN_MEAN  BURO_STATUS_5_MEAN_MEAN  \
SK_ID_CURR
100001                          0.0                      0.0
100002                          0.0                      0.0
100003                          NaN                      NaN
100004                          NaN                      NaN
100005                          0.0                      0.0
100007                          NaN                      NaN
100008                          NaN                      NaN
100009                          NaN                      NaN
100010                          0.0                      0.0
100011                          NaN                      NaN

            BURO_STATUS_C_MEAN_MEAN  BURO_STATUS_X_MEAN_MEAN  \
SK_ID_CURR
100001                     0.441240                 0.214590
100002                     0.175426                 0.161932
100003                          NaN                      NaN
100004                          NaN                      NaN
100005                     0.128205                 0.136752
100007                          NaN                      NaN
100008                          NaN                      NaN
100009                          NaN                      NaN
100010                     0.722222                 0.000000
100011                          NaN                      NaN

            BURO_STATUS_nan_MEAN_MEAN
SK_ID_CURR
100001                            0.0
100002                            0.0
100003                            NaN
100004                            NaN
100005                            0.0
100007                            NaN
100008                            NaN
100009                            NaN
100010                            0.0
100011                            NaN

[10 rows x 62 columns]
+++++++++++++++++++++++++++++++++++++++++++++++
   SK_ID_CURR  DAYS_CREDIT  CREDIT_DAY_OVERDUE  DAYS_CREDIT_ENDDATE  \
0      215354         -497                   0               -153.0
1      215354         -208                   0               1075.0
2      215354         -203                   0                528.0
3      215354         -203                   0                  NaN
4      215354         -629                   0               1197.0
5      215354         -273                   0              27456.0
6      215354          -43                   0                 79.0
7      162297        -1896                   0              -1684.0
8      162297        -1146                   0               -811.0
9      162297        -1146                   0               -484.0

   DAYS_ENDDATE_FACT  AMT_CREDIT_MAX_OVERDUE  CNT_CREDIT_PROLONG  \
0             -153.0                     NaN                   0
1                NaN                     NaN                   0
2                NaN                     NaN                   0
3                NaN                     NaN                   0
4                NaN                 77674.5                   0
5                NaN                     0.0                   0
6                NaN                     0.0                   0
7            -1710.0                 14985.0                   0
8             -840.0                     0.0                   0
9                NaN                     0.0                   0

   AMT_CREDIT_SUM  AMT_CREDIT_SUM_DEBT  AMT_CREDIT_SUM_LIMIT  ...  \
0    9.132300e+04             0.000000                   NaN  ...
1    2.250000e+05        171342.000000                   NaN  ...
2    4.643235e+05                  NaN                   NaN  ...
3    9.000000e+04                  NaN                   NaN  ...
4    2.700000e+06                  NaN                   NaN  ...
5    1.800000e+05         71017.382812         108982.617188  ...
6    4.210380e+04         42103.800781              0.000000  ...
7    7.687845e+04             0.000000              0.000000  ...
8    1.030077e+05             0.000000              0.000000  ...
9    4.500000e+03             0.000000              0.000000  ...

   MONTHS_BALANCE_SIZE  STATUS_0_MEAN  STATUS_1_MEAN  STATUS_2_MEAN  \
0                  NaN            NaN            NaN            NaN
1                  NaN            NaN            NaN            NaN
2                  NaN            NaN            NaN            NaN
3                  NaN            NaN            NaN            NaN
4                  NaN            NaN            NaN            NaN
5                  NaN            NaN            NaN            NaN
6                  NaN            NaN            NaN            NaN
7                  NaN            NaN            NaN            NaN
8                  NaN            NaN            NaN            NaN
9                  NaN            NaN            NaN            NaN

   STATUS_3_MEAN  STATUS_4_MEAN  STATUS_5_MEAN  STATUS_C_MEAN  STATUS_X_MEAN  \
0            NaN            NaN            NaN            NaN            NaN
1            NaN            NaN            NaN            NaN            NaN
2            NaN            NaN            NaN            NaN            NaN
3            NaN            NaN            NaN            NaN            NaN
4            NaN            NaN            NaN            NaN            NaN
5            NaN            NaN            NaN            NaN            NaN
6            NaN            NaN            NaN            NaN            NaN
7            NaN            NaN            NaN            NaN            NaN
8            NaN            NaN            NaN            NaN            NaN
9            NaN            NaN            NaN            NaN            NaN

   STATUS_nan_MEAN
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
5              NaN
6              NaN
7              NaN
8              NaN
9              NaN

[10 rows x 51 columns]

after shape (305811, 143)

In [32]:
bureau.shape

(305811, 143)

In [33]:
missing_values(bureau).head(30)

selected dataframe has 143 columns.
There are 105 columns that have missing values.

                                            Missing Count  percent
NEW_RATIO_BURO_AMT_CREDIT_SUM_OVERDUE_MEAN         302523     98.9
NEW_RATIO_BURO_CREDIT_DAY_OVERDUE_MEAN             302517     98.9
NEW_RATIO_BURO_CREDIT_DAY_OVERDUE_MAX              302517     98.9
NEW_RATIO_BURO_CNT_CREDIT_PROLONG_SUM              298116     97.5
NEW_RATIO_BURO_MONTHS_BALANCE_MAX_MAX              292001     95.5
NEW_RATIO_BURO_AMT_CREDIT_MAX_OVERDUE_MEAN         259607     84.9
NEW_RATIO_BURO_AMT_CREDIT_SUM_LIMIT_MEAN           258988     84.7
NEW_RATIO_BURO_AMT_CREDIT_SUM_LIMIT_SUM            254729     83.3
NEW_RATIO_BURO_AMT_ANNUITY_MEAN                    245109     80.2
NEW_RATIO_BURO_AMT_ANNUITY_MAX                     245109     80.2
ACTIVE_AMT_ANNUITY_MAX                             213085     69.7
ACTIVE_AMT_ANNUITY_MEAN                            213085     69.7
NEW_RATIO_BURO_MONTHS_BALANCE_MIN_MIN              210643     68.9
NEW_RATIO_BURO_MONTHS_BALANCE_SIZE_MEAN            210638     68.9
CLOSED_AMT_ANNUITY_MAX                             210614     68.9
CLOSED_AMT_ANNUITY_MEAN                            210614     68.9
NEW_RATIO_BURO_MONTHS_BALANCE_SIZE_SUM             210591     68.9
ACTIVE_MONTHS_BALANCE_MIN_MIN                      194662     63.7
ACTIVE_MONTHS_BALANCE_MAX_MAX                      194662     63.7
ACTIVE_MONTHS_BALANCE_SIZE_MEAN                    194662     63.7
BURO_AMT_ANNUITY_MAX                               187587     61.3
BURO_AMT_ANNUITY_MEAN                              187587     61.3
CLOSED_MONTHS_BALANCE_MIN_MIN                      187316     61.3
CLOSED_MONTHS_BALANCE_SIZE_MEAN                    187316     61.3
CLOSED_MONTHS_BALANCE_MAX_MAX                      187316     61.3
NEW_RATIO_BURO_DAYS_CREDIT_VAR                     179159     58.6
ACTIVE_AMT_CREDIT_MAX_OVERDUE_MEAN                 172811     56.5
BURO_MONTHS_BALANCE_SIZE_MEAN                      171269     56.0
BURO_MONTHS_BALANCE_MIN_MIN                        171269     56.0
BURO_MONTHS_BALANCE_MAX_MAX                        171269     56.0

In [34]:
bureau.shape

(305811, 143)

In [35]:
drop_columns(bureau, 60).head(20)

selected dataframe has 143 columns.
There are 105 columns that have missing values.

,BURO_DAYS_CREDIT_MIN,BURO_DAYS_CREDIT_MAX,BURO_DAYS_CREDIT_MEAN,BURO_DAYS_CREDIT_VAR,BURO_DAYS_CREDIT_ENDDATE_MIN,BURO_DAYS_CREDIT_ENDDATE_MAX,BURO_DAYS_CREDIT_ENDDATE_MEAN,BURO_DAYS_CREDIT_UPDATE_MEAN,BURO_CREDIT_DAY_OVERDUE_MAX,BURO_CREDIT_DAY_OVERDUE_MEAN,...,NEW_RATIO_BURO_DAYS_CREDIT_ENDDATE_MIN,NEW_RATIO_BURO_DAYS_CREDIT_ENDDATE_MAX,NEW_RATIO_BURO_DAYS_CREDIT_ENDDATE_MEAN,NEW_RATIO_BURO_DAYS_CREDIT_UPDATE_MEAN,NEW_RATIO_BURO_AMT_CREDIT_SUM_MAX,NEW_RATIO_BURO_AMT_CREDIT_SUM_MEAN,NEW_RATIO_BURO_AMT_CREDIT_SUM_SUM,NEW_RATIO_BURO_AMT_CREDIT_SUM_DEBT_MAX,NEW_RATIO_BURO_AMT_CREDIT_SUM_DEBT_MEAN,NEW_RATIO_BURO_AMT_CREDIT_SUM_DEBT_SUM
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,-1572,-49,-735.000000,2.400437e+05,-1329.0,1778.0,82.4375,-93.142857,0,0.0,...,-0.309326,-9.929688,-1.638672,0.068817,1.351351,2.070292,1.552719,inf,inf,inf
100002,-1437,-103,-874.000000,1.861500e+05,-1072.0,780.0,-349.0000,-499.875000,0,0.0,...,-0.727539,9.179688,-1.356445,0.023438,3.333333,3.774707,1.258236,inf,inf,inf
100003,-2586,-606,-1400.750000,8.277836e+05,-2434.0,1216.0,-544.5000,-816.000000,0,0.0,...,-0.499512,-2.894531,-1.075195,0.040050,7.200000,11.716461,3.905487,NaN,NaN,NaN
100004,-1326,-408,-867.000000,4.213620e+05,-595.0,-382.0,-488.5000,-532.000000,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100005,-373,-62,-190.666667,2.634033e+04,-128.0,1324.0,439.2500,-54.333333,0,0.0,...,-0.953125,-10.343750,-5.648438,0.173554,9.723077,5.116462,10.232924,inf,inf,inf
100007,-1149,-1149,-1149.000000,NaN,-783.0,-783.0,-783.0000,-783.000000,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100008,-1097,-78,-757.333333,3.461203e+05,-853.0,471.0,-391.2500,-611.000000,0,0.0,...,-0.552246,-0.594727,-0.572754,0.017611,2.531631,2.664874,1.332437,inf,inf,inf
100009,-2882,-239,-1271.500000,4.426300e+05,-2152.0,1402.0,-795.0000,-851.611111,0,0.0,...,0.097107,1.342773,-0.600586,0.239823,0.361666,1.633381,0.466680,inf,inf,inf
100010,-2741,-1138,-1939.500000,1.284804e+06,-928.0,689.0,-119.5000,-578.000000,0,0.0,...,-0.742676,-0.742676,-0.742676,0.015817,2.142857,2.142857,2.142857,inf,inf,inf
100011,-2508,-1309,-1773.000000,3.334180e+05,-2172.0,-860.0,-1293.0000,-1454.750000,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100013,-2070,-1210,-1737.500000,1.552083e+05,-1707.0,-567.0,-1068.0000,-775.500000,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100014,-2308,-376,-1095.375000,5.095088e+05,-2004.0,723.0,-387.5000,-615.875000,0,0.0,...,-0.351318,16.062500,-0.945801,0.036360,0.635000,1.749960,0.583320,inf,inf,inf
100015,-1409,-319,-947.750000,2.073689e+05,-1045.0,-16.0,-598.0000,-551.250000,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100016,-1634,-128,-618.428571,4.381120e+05,-1369.0,845.0,-217.1250,-405.857143,0,0.0,...,-0.162842,-2.435547,-0.375977,0.016181,1.560197,1.827205,2.436273,inf,inf,inf
100017,-2881,-909,-1944.333333,5.387127e+05,-2546.0,197.0,-1512.0000,-1594.333333,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100019,-495,-495,-495.000000,0.000000e+00,419.0,10464.0,5440.0000,-26.500000,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100020,-492,-90,-261.500000,3.018500e+04,-311.0,277.0,-32.5000,-130.750000,0,0.0,...,-0.025726,-2.664062,-0.686523,0.180587,4.629630,3.131407,3.131407,inf,inf,inf
100022,-385,-289,-337.000000,4.608000e+03,441.0,1439.0,940.0000,-28.000000,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100023,-2624,-157,-1164.384615,4.625959e+05,-2228.0,1669.0,-365.0000,-634.076923,0,0.0,...,0.561035,1.266602,-0.444580,0.211413,1.934206,1.497869,0.665720,2.850328,6.817462,4.544974
100025,-700,-700,-700.000000,NaN,1124.0,1124.0,1124.0000,-49.000000,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
bureau.shape

(305811, 118)

In [37]:
bureau.replace([np.inf, -np.inf], np.nan, inplace=True)
bureau.fillna(0, inplace=True)

In [38]:
bureau.head(10)

,BURO_DAYS_CREDIT_MIN,BURO_DAYS_CREDIT_MAX,BURO_DAYS_CREDIT_MEAN,BURO_DAYS_CREDIT_VAR,BURO_DAYS_CREDIT_ENDDATE_MIN,BURO_DAYS_CREDIT_ENDDATE_MAX,BURO_DAYS_CREDIT_ENDDATE_MEAN,BURO_DAYS_CREDIT_UPDATE_MEAN,BURO_CREDIT_DAY_OVERDUE_MAX,BURO_CREDIT_DAY_OVERDUE_MEAN,...,NEW_RATIO_BURO_DAYS_CREDIT_ENDDATE_MIN,NEW_RATIO_BURO_DAYS_CREDIT_ENDDATE_MAX,NEW_RATIO_BURO_DAYS_CREDIT_ENDDATE_MEAN,NEW_RATIO_BURO_DAYS_CREDIT_UPDATE_MEAN,NEW_RATIO_BURO_AMT_CREDIT_SUM_MAX,NEW_RATIO_BURO_AMT_CREDIT_SUM_MEAN,NEW_RATIO_BURO_AMT_CREDIT_SUM_SUM,NEW_RATIO_BURO_AMT_CREDIT_SUM_DEBT_MAX,NEW_RATIO_BURO_AMT_CREDIT_SUM_DEBT_MEAN,NEW_RATIO_BURO_AMT_CREDIT_SUM_DEBT_SUM
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,-1572,-49,-735.000000,2.400437e+05,-1329.0,1778.0,82.4375,-93.142857,0,0.0,...,-0.309326,-9.929688,-1.638672,0.068817,1.351351,2.070292,1.552719,0.0,0.0,0.0
100002,-1437,-103,-874.000000,1.861500e+05,-1072.0,780.0,-349.0000,-499.875000,0,0.0,...,-0.727539,9.179688,-1.356445,0.023438,3.333333,3.774707,1.258236,0.0,0.0,0.0
100003,-2586,-606,-1400.750000,8.277836e+05,-2434.0,1216.0,-544.5000,-816.000000,0,0.0,...,-0.499512,-2.894531,-1.075195,0.040050,7.200000,11.716461,3.905487,0.0,0.0,0.0
100004,-1326,-408,-867.000000,4.213620e+05,-595.0,-382.0,-488.5000,-532.000000,0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
100005,-373,-62,-190.666667,2.634033e+04,-128.0,1324.0,439.2500,-54.333333,0,0.0,...,-0.953125,-10.343750,-5.648438,0.173554,9.723077,5.116462,10.232924,0.0,0.0,0.0
100007,-1149,-1149,-1149.000000,0.000000e+00,-783.0,-783.0,-783.0000,-783.000000,0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
100008,-1097,-78,-757.333333,3.461203e+05,-853.0,471.0,-391.2500,-611.000000,0,0.0,...,-0.552246,-0.594727,-0.572754,0.017611,2.531631,2.664874,1.332437,0.0,0.0,0.0
100009,-2882,-239,-1271.500000,4.426300e+05,-2152.0,1402.0,-795.0000,-851.611111,0,0.0,...,0.097107,1.342773,-0.600586,0.239823,0.361666,1.633381,0.466680,0.0,0.0,0.0
100010,-2741,-1138,-1939.500000,1.284804e+06,-928.0,689.0,-119.5000,-578.000000,0,0.0,...,-0.742676,-0.742676,-0.742676,0.015817,2.142857,2.142857,2.142857,0.0,0.0,0.0
100011,-2508,-1309,-1773.000000,3.334180e+05,-2172.0,-860.0,-1293.0000,-1454.750000,0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0

# 同值化处理

In [39]:
drop_list_bureau = []
for col in bureau.columns:
    print("\n %s 属性的不同取值和出现的次数" %col)
    print(bureau[col].value_counts())
    if bureau[col].value_counts().max() > 290520:
        drop_list_bureau.append(col)

 BURO_DAYS_CREDIT_MIN 属性的不同取值和出现的次数
-2871    323
-2919    322
-2890    319
-2895    315
-2891    311
        ...
-5         6
-4         4
 0         2
-2         1
-3         1
Name: BURO_DAYS_CREDIT_MIN, Length: 2922, dtype: int64

 BURO_DAYS_CREDIT_MAX 属性的不同取值和出现的次数
-91      751
-182     695
-175     689
-112     688
-84      680
        ...
-2838      2
-2137      2
-1962      2
-2010      2
-2043      1
Name: BURO_DAYS_CREDIT_MAX, Length: 2923, dtype: int64

 BURO_DAYS_CREDIT_MEAN 属性的不同取值和出现的次数
-441.000000     94
-400.000000     86
-478.000000     86
-809.000000     83
-488.000000     81
                ..
-1636.437500     1
-792.714286      1
-1030.555556     1
-730.875000      1
-1667.076923     1
Name: BURO_DAYS_CREDIT_MEAN, Length: 69801, dtype: int64

 BURO_DAYS_CREDIT_VAR 属性的不同取值和出现的次数
0.000000         43739
0.500000          1081
4.500000           192
2.000000           162
18.000000          123
                 ...
635554.322222        1
708402.982456        1
242243.300000        1
328867.000000        1
502786.672727        1
Name: BURO_DAYS_CREDIT_VAR, Length: 220618, dtype: int64

 BURO_DAYS_CREDIT_ENDDATE_MIN 属性的不同取值和出现的次数
 0.0       2670
-2492.0     507
-2500.0     501
-2520.0     500
-2408.0     487
           ...
 2544.0       1
 2604.0       1
 3620.0       1
 5364.0       1
 2706.0       1
Name: BURO_DAYS_CREDIT_ENDDATE_MIN, Length: 5592, dtype: int64

 BURO_DAYS_CREDIT_ENDDATE_MAX 属性的不同取值和出现的次数
0.0        2732
31072.0    2078
31056.0    1824
31088.0    1679
31184.0    1576
           ...
4050.0        1
8068.0        1
16832.0       1
13848.0       1
10976.0       1
Name: BURO_DAYS_CREDIT_ENDDATE_MAX, Length: 6941, dtype: int64

 BURO_DAYS_CREDIT_ENDDATE_MEAN 属性的不同取值和出现的次数
 0.000000        2653
-1036.000000      107
-1058.000000      103
-1056.000000      101
-1028.000000       98
                 ...
 16.296875          1
 52.875000          1
 20400.000000       1
 8.070312           1
 75.562500          1
Name: BURO_DAYS_CREDIT_ENDDATE_MEAN, Length: 17130, dtype: int64

 BURO_DAYS_CREDIT_UPDATE_MEAN 属性的不同取值和出现的次数
-14.000000      872
-7.000000       856
-15.000000      850
-18.000000      831
-8.000000       829
               ...
-570.055556       1
-1120.357143      1
-485.533333       1
-388.705882       1
-1064.538462      1
Name: BURO_DAYS_CREDIT_UPDATE_MEAN, Length: 59481, dtype: int64

 BURO_CREDIT_DAY_OVERDUE_MAX 属性的不同取值和出现的次数
0       301947
30         296
60         124
8           93
13          89
         ...
2146         1
2041         1
830          1
2397         1
1205         1
Name: BURO_CREDIT_DAY_OVERDUE_MAX, Length: 917, dtype: int64

 BURO_CREDIT_DAY_OVERDUE_MEAN 属性的不同取值和出现的次数
0.000000      301947
5.000000          67
6.000000          60
2.000000          54
3.000000          47
               ...
40.062500          1
146.500000         1
15.166667          1
871.333333         1
2.214286           1
Name: BURO_CREDIT_DAY_OVERDUE_MEAN, Length: 1657, dtype: int64

 BURO_AMT_CREDIT_MAX_OVERDUE_MEAN 属性的不同取值和出现的次数
0.000000        225509
720.000000         128
4.500000           125
45.000000          115
225.000000         109
                 ...
2066.130127          1
4215.600098          1
2439.517578          1
2552.939941          1
12056.481445         1
Name: BURO_AMT_CREDIT_MAX_OVERDUE_MEAN, Length: 62589, dtype: int64

 BURO_AMT_CREDIT_SUM_MAX 属性的不同取值和出现的次数
4.500000e+05    10288
2.250000e+05     9968
6.750000e+05     7395
9.000000e+05     7123
1.350000e+06     6492
                ...
6.158115e+04        1
1.122795e+05        1
1.504215e+05        1
6.993231e+05        1
2.153110e+06        1
Name: BURO_AMT_CREDIT_SUM_MAX, Length: 73773, dtype: int64

 BURO_AMT_CREDIT_SUM_MEAN 属性的不同取值和出现的次数
225000.000000    1534
135000.000000    1381
0.000000         1276
67500.000000     1121
180000.000000    1095
                 ...
210212.140625       1
174348.671875       1
96501.000000        1
413583.000000       1
345629.031250       1
Name: BURO_AMT_CREDIT_SUM_MEAN, Length: 241046, dtype: int64

 BURO_AMT_CREDIT_SUM_SUM 属性的不同取值和出现的次数
2.250000e+05    1513
1.350000e+05    1298
0.000000e+00    1276
4.500000e+05    1072
6.750000e+04    1049
                ...
1.713223e+06       1
5.474250e+05       1
3.404826e+06       1
1.021566e+06       1
3.801920e+06       1
Name: BURO_AMT_CREDIT_SUM_SUM, Length: 236274, dtype: int64

 BURO_AMT_CREDIT_SUM_DEBT_MAX 属性的不同取值和出现的次数
0.000000e+00    90184
2.250000e+05      152
1.350000e+05      139
4.500000e+00      138
4.500000e+05      130
                ...
2.983185e+05        1
1.374993e+06        1
4.051681e+05        1
5.697045e+05        1
5.951025e+05        1
Name: BURO_AMT_CREDIT_SUM_DEBT_MAX, Length: 157142, dtype: int64

 BURO_AMT_CREDIT_SUM_DEBT_MEAN 属性的不同取值和出现的次数
0.000000         89026
45000.000000        51
22500.000000        49
225000.000000       42
2.250000            37
                 ...
151379.656250        1
68900.218750         1
55036.687500         1
235743.421875        1
191864.125000        1
Name: BURO_AMT_CREDIT_SUM_DEBT_MEAN, Length: 195045, dtype: int64

 BURO_AMT_CREDIT_SUM_DEBT_SUM 属性的不同取值和出现的次数
0.000000e+00    89026
4.500000e+00      136
9.000000e+04       70
2.250000e+05       67
4.500000e+05       65
                ...
3.833100e+04        1
2.062317e+06        1
2.521166e+06        1
6.953773e+04        1
1.534913e+06        1
Name: BURO_AMT_CREDIT_SUM_DEBT_SUM, Length: 176814, dtype: int64

 BURO_AMT_CREDIT_SUM_OVERDUE_MEAN 属性的不同取值和出现的次数
0.000000       302010
4.500000           66
2.250000           58
1.500000           42
0.900000           41
                ...
1560.562500         1
23.062500           1
73.327499           1
1762.199951         1
53.000000           1
Name: BURO_AMT_CREDIT_SUM_OVERDUE_MEAN, Length: 2081, dtype: int64

 BURO_AMT_CREDIT_SUM_LIMIT_MEAN 属性的不同取值和出现的次数
0.000000        249300
22500.000000       532
45000.000000       378
11250.000000       327
33750.000000       251
                 ...
8358.349609          1
90000.656250         1
21881.250000         1
34887.218750         1
19422.794922         1
Name: BURO_AMT_CREDIT_SUM_LIMIT_MEAN, Length: 44917, dtype: int64

 BURO_AMT_CREDIT_SUM_LIMIT_SUM 属性的不同取值和出现的次数
 0.000000         249300
 135000.000000      1169
 45000.000000        850
 13500.000000        611
 90000.000000        602
                   ...
-1044.900024           1
 22936.140625          1
 85.500000             1
 238681.484375         1
 58268.386719          1
Name: BURO_AMT_CREDIT_SUM_LIMIT_SUM, Length: 42982, dtype: int64

 BURO_CNT_CREDIT_PROLONG_SUM 属性的不同取值和出现的次数
0    297015
1      7115
2      1319
3       259
4        62
5        30
6         7
9         2
8         1
7         1
Name: BURO_CNT_CREDIT_PROLONG_SUM, dtype: int64

 BURO_MONTHS_BALANCE_MIN_MIN 属性的不同取值和出现的次数
 0.0     171512
-95.0      3308
-94.0      3200
-93.0      3194
-92.0      3170
          ...
-4.0        659
-3.0        584
-2.0        455
-1.0        390
-96.0       103
Name: BURO_MONTHS_BALANCE_MIN_MIN, Length: 97, dtype: int64

 BURO_MONTHS_BALANCE_MAX_MAX 属性的不同取值和出现的次数
 0.0     301098
-1.0        778
-2.0        215
-4.0        198
-3.0        189
          ...
-86.0         3
-88.0         2
-89.0         1
-92.0         1
-85.0         1
Name: BURO_MONTHS_BALANCE_MAX_MAX, Length: 91, dtype: int64

 BURO_MONTHS_BALANCE_SIZE_MEAN 属性的不同取值和出现的次数
0.000000     171269
8.000000       1209
12.000000      1199
9.000000       1182
10.000000      1176
              ...
48.863636         1
57.230769         1
9.045455          1
17.055556         1
48.608696         1
Name: BURO_MONTHS_BALANCE_SIZE_MEAN, Length: 6834, dtype: int64

 BURO_MONTHS_BALANCE_SIZE_SUM 属性的不同取值和出现的次数
0.0       171269
12.0         862
24.0         824
8.0          814
18.0         802
           ...
1504.0         1
1379.0         1
1545.0         1
1327.0         1
1118.0         1
Name: BURO_MONTHS_BALANCE_SIZE_SUM, Length: 1269, dtype: int64

 BURO_CREDIT_ACTIVE_Active_MEAN 属性的不同取值和出现的次数
0.000000    53996
0.500000    40514
1.000000    37376
0.333333    26441
0.250000    16258
            ...
0.203704        1
0.163265        1
0.191489        1
0.244444        1
0.096774        1
Name: BURO_CREDIT_ACTIVE_Active_MEAN, Length: 315, dtype: int64

 BURO_CREDIT_ACTIVE_Bad debt_MEAN 属性的不同取值和出现的次数
0.000000    305790
0.200000         3
0.166667         2
0.100000         2
0.142857         2
0.071429         2
0.090909         1
0.040000         1
0.076923         1
0.066667         1
1.000000         1
0.333333         1
0.111111         1
0.250000         1
0.500000         1
0.125000         1
Name: BURO_CREDIT_ACTIVE_Bad debt_MEAN, dtype: int64

 BURO_CREDIT_ACTIVE_Closed_MEAN 属性的不同取值和出现的次数
1.000000    53191
0.500000    40805
0.000000    37886
0.666667    26402
0.750000    16069
            ...
0.392857        1
0.918919        1
0.872727        1
0.468750        1
0.903226        1
Name: BURO_CREDIT_ACTIVE_Closed_MEAN, Length: 319, dtype: int64

 BURO_CREDIT_ACTIVE_Sold_MEAN 属性的不同取值和出现的次数
0.000000    299790
0.166667       479
0.200000       463
0.142857       448
0.250000       442
             ...
0.130435         1
0.025641         1
0.571429         1
0.160000         1
0.150000         1
Name: BURO_CREDIT_ACTIVE_Sold_MEAN, Length: 76, dtype: int64

 BURO_CREDIT_ACTIVE_nan_MEAN 属性的不同取值和出现的次数
0.0    305811
Name: BURO_CREDIT_ACTIVE_nan_MEAN, dtype: int64

 BURO_CREDIT_CURRENCY_currency 1_MEAN 属性的不同取值和出现的次数
1.000000    304701
0.750000       111
0.833333        94
0.857143        84
0.800000        84
0.666667        78
0.875000        75
0.500000        67
0.888889        61
0.900000        48
0.909091        42
0.000000        38
0.923077        37
0.916667        35
0.928571        35
0.933333        23
0.937500        21
0.941176        15
0.714286        14
0.333333        13
0.944444        12
0.894737         9
0.954545         8
0.950000         7
0.818182         7
0.952381         7
0.846154         7
0.600000         7
0.777778         6
0.947368         5
0.625000         5
0.913043         4
0.812500         4
0.727273         4
0.920000         3
0.866667         3
0.571429         3
0.964286         3
0.785714         3
0.882353         3
0.960000         3
0.966667         2
0.250000         2
0.823529         2
0.869565         2
0.764706         2
0.962963         1
0.965517         1
0.736842         1
0.951220         1
0.956522         1
0.961538         1
0.904762         1
0.972222         1
0.840000         1
0.892857         1
0.791667         1
0.958333         1
Name: BURO_CREDIT_CURRENCY_currency 1_MEAN, dtype: int64

 BURO_CREDIT_CURRENCY_currency 2_MEAN 属性的不同取值和出现的次数
0.000000    304841
0.250000        96
0.166667        82
0.142857        76
0.333333        72
0.200000        71
0.500000        61
0.125000        61
0.111111        51
0.100000        46
1.000000        37
0.090909        35
0.083333        34
0.071429        29
0.076923        25
0.062500        22
0.066667        18
0.058824        15
0.285714        12
0.666667        12
0.055556         8
0.153846         7
0.052632         7
0.400000         6
0.181818         6
0.047619         6
0.045455         6
0.050000         5
0.375000         5
0.105263         5
0.222222         5
0.040000         4
0.187500         4
0.117647         4
0.272727         4
0.428571         3
0.086957         3
0.235294         2
0.750000         2
0.080000         2
0.133333         2
0.214286         2
0.095238         2
0.035714         2
0.130435         2
0.160000         1
0.048780         1
0.263158         1
0.033333         1
0.027778         1
0.038462         1
0.043478         1
0.107143         1
0.208333         1
0.037037         1
0.041667         1
Name: BURO_CREDIT_CURRENCY_currency 2_MEAN, dtype: int64

 BURO_CREDIT_CURRENCY_currency 3_MEAN 属性的不同取值和出现的次数
0.000000    305654
0.125000        14
0.166667        13
0.076923        11
0.200000        11
0.111111        10
0.250000         9
0.333333         8
0.090909         8
0.142857         8
0.066667         7
0.071429         7
0.083333         6
0.100000         6
0.062500         5
0.055556         4
0.052632         4
0.500000         4
0.058824         4
0.045455         2
0.050000         2
0.047619         2
0.038462         2
0.400000         1
0.035714         1
0.285714         1
0.040000         1
1.000000         1
0.033333         1
0.086957         1
0.222222         1
0.105263         1
0.034483         1
Name: BURO_CREDIT_CURRENCY_currency 3_MEAN, dtype: int64

 BURO_CREDIT_CURRENCY_currency 4_MEAN 属性的不同取值和出现的次数
0.000000    305801
0.250000         3
0.142857         2
0.055556         1
0.111111         1
0.500000         1
0.125000         1
0.090909         1
Name: BURO_CREDIT_CURRENCY_currency 4_MEAN, dtype: int64

 BURO_CREDIT_CURRENCY_nan_MEAN 属性的不同取值和出现的次数
0.0    305811
Name: BURO_CREDIT_CURRENCY_nan_MEAN, dtype: int64

 BURO_CREDIT_TYPE_Another type of loan_MEAN 属性的不同取值和出现的次数
0.000000    304849
0.250000       100
0.200000        96
0.333333        92
0.166667        91
0.500000        72
0.111111        71
0.125000        69
0.142857        57
1.000000        53
0.100000        51
0.090909        36
0.083333        30
0.076923        22
0.071429        20
0.062500        14
0.066667        14
0.058824        13
0.055556        12
0.052632         8
0.050000         7
0.035714         4
0.285714         4
0.047619         3
0.045455         3
0.038462         2
0.153846         2
0.222222         2
0.400000         2
0.043478         2
0.800000         1
0.117647         1
0.029412         1
0.080000         1
0.040000         1
0.230769         1
0.037037         1
0.600000         1
0.666667         1
0.272727         1
Name: BURO_CREDIT_TYPE_Another type of loan_MEAN, dtype: int64

 BURO_CREDIT_TYPE_Car loan_MEAN 属性的不同取值和出现的次数
0.000000    283015
0.333333      2348
0.250000      2286
0.200000      2132
0.500000      2001
             ...
0.103448         1
0.461538         1
0.030303         1
0.642857         1
0.107143         1
Name: BURO_CREDIT_TYPE_Car loan_MEAN, Length: 109, dtype: int64

 BURO_CREDIT_TYPE_Cash loan (non-earmarked)_MEAN 属性的不同取值和出现的次数
0.000000    305760
0.090909         7
0.200000         6
0.250000         4
0.100000         3
0.166667         3
0.125000         3
0.111111         3
0.047619         3
0.083333         3
0.333333         2
0.142857         2
0.076923         2
0.043478         1
0.066667         1
0.035714         1
0.400000         1
0.074074         1
0.222222         1
1.000000         1
0.062500         1
0.045455         1
0.050000         1
Name: BURO_CREDIT_TYPE_Cash loan (non-earmarked)_MEAN, dtype: int64

 BURO_CREDIT_TYPE_Consumer credit_MEAN 属性的不同取值和出现的次数
1.000000    92313
0.500000    30096
0.666667    26891
0.750000    20404
0.000000    19142
            ...
0.633333        1
0.903846        1
0.902439        1
0.972973        1
0.606061        1
Name: BURO_CREDIT_TYPE_Consumer credit_MEAN, Length: 363, dtype: int64

 BURO_CREDIT_TYPE_Credit card_MEAN 属性的不同取值和出现的次数
0.000000    105846
0.500000     26170
0.333333     25796
0.250000     21050
0.200000     14981
             ...
0.170213         1
0.191489         1
0.226415         1
0.255814         1
0.393939         1
Name: BURO_CREDIT_TYPE_Credit card_MEAN, Length: 315, dtype: int64

 BURO_CREDIT_TYPE_Interbank credit_MEAN 属性的不同取值和出现的次数
0.000000    305810
0.166667         1
Name: BURO_CREDIT_TYPE_Interbank credit_MEAN, dtype: int64

 BURO_CREDIT_TYPE_Loan for business development_MEAN 属性的不同取值和出现的次数
0.000000    304212
0.200000       158
0.250000       152
0.166667       145
0.333333       137
0.500000       122
0.142857       109
0.125000       104
0.111111        93
1.000000        59
0.090909        58
0.083333        56
0.100000        55
0.076923        45
0.071429        29
0.062500        29
0.066667        27
0.400000        23
0.222222        21
0.285714        17
0.058824        14
0.666667        13
0.181818        11
0.055556        10
0.050000        10
0.300000         8
0.047619         8
0.133333         7
0.153846         7
0.052632         6
0.375000         5
0.045455         5
0.095238         4
0.041667         4
0.214286         4
0.428571         4
0.187500         3
0.117647         3
0.037037         3
0.043478         2
0.040000         2
0.038462         2
0.157895         2
0.272727         2
0.444444         2
0.800000         2
0.363636         2
0.136364         2
0.600000         2
0.266667         1
0.086957         1
0.024390         1
0.230769         1
0.294118         1
0.120000         1
0.571429         1
0.260870         1
0.029412         1
0.107143         1
0.035714         1
Name: BURO_CREDIT_TYPE_Loan for business development_MEAN, dtype: int64

 BURO_CREDIT_TYPE_Loan for purchase of shares (margin lending)_MEAN 属性的不同取值和出现的次数
0.000000    305807
0.500000         2
0.066667         1
0.076923         1
Name: BURO_CREDIT_TYPE_Loan for purchase of shares (margin lending)_MEAN, dtype: int64

 BURO_CREDIT_TYPE_Loan for the purchase of equipment_MEAN 属性的不同取值和出现的次数
0.000000    305793
0.058824         2
0.142857         2
1.000000         2
0.100000         2
0.166667         1
0.250000         1
0.200000         1
0.125000         1
0.076923         1
0.020833         1
0.062500         1
0.333333         1
0.071429         1
0.083333         1
Name: BURO_CREDIT_TYPE_Loan for the purchase of equipment_MEAN, dtype: int64

 BURO_CREDIT_TYPE_Loan for working capital replenishment_MEAN 属性的不同取值和出现的次数
0.000000    305397
0.125000        45
0.166667        42
0.333333        32
0.100000        31
0.142857        30
0.200000        28
0.111111        27
0.250000        27
0.090909        19
0.083333        15
0.071429        12
0.500000        11
0.066667        10
1.000000         9
0.055556         9
0.076923         7
0.062500         7
0.058824         6
0.045455         4
0.400000         4
0.050000         3
0.222222         3
0.666667         3
0.052632         3
0.047619         2
0.037037         2
0.038462         2
0.181818         2
0.133333         1
0.032258         1
0.041667         1
0.178571         1
0.105263         1
0.023256         1
0.030303         1
0.428571         1
0.600000         1
0.033333         1
0.035714         1
0.375000         1
0.214286         1
0.040000         1
0.031250         1
0.136364         1
0.294118         1
0.230769         1
0.095238         1
Name: BURO_CREDIT_TYPE_Loan for working capital replenishment_MEAN, dtype: int64

 BURO_CREDIT_TYPE_Microloan_MEAN 属性的不同取值和出现的次数
0.000000    301246
0.500000       369
0.333333       344
0.250000       306
0.166667       279
             ...
0.612903         1
0.640000         1
0.784314         1
0.173913         1
0.793103         1
Name: BURO_CREDIT_TYPE_Microloan_MEAN, Length: 227, dtype: int64

 BURO_CREDIT_TYPE_Mobile operator loan_MEAN 属性的不同取值和出现的次数
0.0000    305810
0.0625         1
Name: BURO_CREDIT_TYPE_Mobile operator loan_MEAN, dtype: int64

 BURO_CREDIT_TYPE_Mortgage_MEAN 属性的不同取值和出现的次数
0.000000    288957
0.333333      1745
0.250000      1688
0.200000      1600
0.500000      1490
             ...
0.030303         1
0.027027         1
0.027778         1
0.266667         1
0.130435         1
Name: BURO_CREDIT_TYPE_Mortgage_MEAN, Length: 79, dtype: int64

 BURO_CREDIT_TYPE_Real estate loan_MEAN 属性的不同取值和出现的次数
0.000000    305784
0.100000         6
0.500000         3
0.142857         3
0.166667         3
0.125000         2
0.090909         2
0.333333         2
0.076923         1
1.000000         1
0.111111         1
0.083333         1
0.055556         1
0.250000         1

Name: BURO_CREDIT_TYPE_Real estate loan_MEAN, dtype: int64

 BURO_CREDIT_TYPE_Unknown type of loan_MEAN 属性的不同取值和出现的次数
0.000000    305314
0.166667        51
0.142857        46
0.111111        41
0.125000        40
0.250000        37
0.200000        34
0.333333        33
0.090909        28
0.500000        26
0.100000        26
0.076923        19
0.058824        13
0.083333        13
0.071429        12
0.066667        10
0.050000         7
0.062500         6
1.000000         6
0.055556         5
0.052632         5
0.105263         4
0.047619         3
0.086957         3
0.222222         2
0.095238         2
0.176471         2
0.117647         2
0.037037         2
0.181818         2
0.041667         2
0.400000         2
0.133333         2
0.666667         1
0.157895         1
0.187500         1
0.051282         1
0.043478         1
0.040000         1
0.285714         1
0.153846         1
0.029412         1
0.428571         1
0.035714         1
Name: BURO_CREDIT_TYPE_Unknown type of loan_MEAN, dtype: int64

 BURO_CREDIT_TYPE_nan_MEAN 属性的不同取值和出现的次数
0.0    305811
Name: BURO_CREDIT_TYPE_nan_MEAN, dtype: int64

 BURO_STATUS_0_MEAN_MEAN 属性的不同取值和出现的次数
0.000000    175116
1.000000      3796
0.500000      1244
0.750000       755
0.666667       732
             ...
0.300336         1
0.390348         1
0.523230         1
0.334932         1
0.283249         1
Name: BURO_STATUS_0_MEAN_MEAN, Length: 90507, dtype: int64

 BURO_STATUS_1_MEAN_MEAN 属性的不同取值和出现的次数
0.000000    258601
0.041667       292
0.016667       289
0.083333       259
0.020833       258
             ...
0.016648         1
0.027735         1
0.007045         1
0.011137         1
0.008599         1
Name: BURO_STATUS_1_MEAN_MEAN, Length: 19990, dtype: int64

 BURO_STATUS_2_MEAN_MEAN 属性的不同取值和出现的次数
0.000000    297387
0.016667        41
0.011905        40
0.008333        39
0.005952        35
             ...
0.041156         1
0.012251         1
0.009039         1
0.022878         1
0.001526         1
Name: BURO_STATUS_2_MEAN_MEAN, Length: 3470, dtype: int64

 BURO_STATUS_3_MEAN_MEAN 属性的不同取值和出现的次数
0.000000    301905
0.003968        20
0.013889        20
0.006173        19
0.011765        17
             ...
0.012879         1
0.058824         1
0.010821         1
0.003140         1
0.008040         1
Name: BURO_STATUS_3_MEAN_MEAN, Length: 1792, dtype: int64

 BURO_STATUS_4_MEAN_MEAN 属性的不同取值和出现的次数
0.000000    302991
0.003968        18
0.005208        16
0.006173        15
0.002083        15
             ...
0.032918         1
0.024306         1
0.032258         1
0.008957         1
0.008040         1
Name: BURO_STATUS_4_MEAN_MEAN, Length: 1367, dtype: int64

 BURO_STATUS_5_MEAN_MEAN 属性的不同取值和出现的次数
0.000000    302825
0.033333        13
0.019231        12
0.025000        11
0.083333        11
             ...
0.079365         1
0.014299         1
0.465634         1
0.068969         1
0.024120         1
Name: BURO_STATUS_5_MEAN_MEAN, Length: 2156, dtype: int64

 BURO_STATUS_C_MEAN_MEAN 属性的不同取值和出现的次数
0.000000    196490
0.250000       488
0.333333       472
0.166667       424
0.500000       399
             ...
0.573182         1
0.313963         1
0.290317         1
0.358016         1
0.645601         1
Name: BURO_STATUS_C_MEAN_MEAN, Length: 76329, dtype: int64

 BURO_STATUS_X_MEAN_MEAN 属性的不同取值和出现的次数
0.000000    194214
1.000000      2817
0.500000      1854
0.333333      1245
0.250000      1073
             ...
0.331466         1
0.246439         1
0.343413         1
0.182404         1
0.071150         1
Name: BURO_STATUS_X_MEAN_MEAN, Length: 65081, dtype: int64

 BURO_STATUS_nan_MEAN_MEAN 属性的不同取值和出现的次数
0.0    305811
Name: BURO_STATUS_nan_MEAN_MEAN, dtype: int64

 ACTIVE_DAYS_CREDIT_MIN 属性的不同取值和出现的次数
 0.0       54001
-365.0       264
-343.0       254
-364.0       250
-357.0       249
           ...
-2103.0        7
-2069.0        6
-2097.0        6
-2005.0        6
-2027.0        6
Name: ACTIVE_DAYS_CREDIT_MIN, Length: 2922, dtype: int64

 ACTIVE_DAYS_CREDIT_MAX 属性的不同取值和出现的次数
 0.0       54016
-91.0        725
-112.0       654
-119.0       654
-182.0       652
           ...
-2124.0        1
-2134.0        1
-2710.0        1
-2176.0        1
-2097.0        1
Name: ACTIVE_DAYS_CREDIT_MAX, Length: 2911, dtype: int64

 ACTIVE_DAYS_CREDIT_MEAN 属性的不同取值和出现的次数
 0.000000       54001
-168.000000       225
-182.000000       218
-147.000000       216
-148.000000       209
                ...
-303.166667         1
-1558.800000        1
-1260.400000        1
-2625.666667        1
-1509.250000        1
Name: ACTIVE_DAYS_CREDIT_MEAN, Length: 22170, dtype: int64

 ACTIVE_DAYS_CREDIT_VAR 属性的不同取值和出现的次数
0.000000         144299
0.500000            799
2.000000            397
4.500000            338
8.000000            281
                  ...
101901.000000         1
56176.916667          1
448114.800000         1
404927.583333         1
73884.500000          1
Name: ACTIVE_DAYS_CREDIT_VAR, Length: 94040, dtype: int64

 ACTIVE_DAYS_CREDIT_ENDDATE_MIN 属性的不同取值和出现的次数
 0.0       64916
 3.0         441
-2.0         416
 4.0         411
 1.0         401
           ...
 5848.0        1
 3992.0        1
 5052.0        1
 2268.0        1
 2706.0        1
Name: ACTIVE_DAYS_CREDIT_ENDDATE_MIN, Length: 6373, dtype: int64

 ACTIVE_DAYS_CREDIT_ENDDATE_MAX 属性的不同取值和出现的次数
 0.0        64589
 31072.0     1737
 31056.0     1555
 31088.0     1379
 30912.0     1234
            ...
-1805.0         1
-2700.0         1
-2000.0         1
 16944.0        1
-2047.0         1
Name: ACTIVE_DAYS_CREDIT_ENDDATE_MAX, Length: 6733, dtype: int64

 ACTIVE_DAYS_CREDIT_ENDDATE_MEAN 属性的不同取值和出现的次数
 0.0000        64579
 31072.0000      334
 31088.0000      310
 31056.0000      287
 30976.0000      229
               ...
-508.5000          1
 19104.0000        1
-249.3750          1
 41.1875           1
 238.8750          1
Name: ACTIVE_DAYS_CREDIT_ENDDATE_MEAN, Length: 13241, dtype: int64

 ACTIVE_DAYS_CREDIT_UPDATE_MEAN 属性的不同取值和出现的次数
 0.000000       54051
-15.000000       3775
-16.000000       3651
-14.000000       3573
-18.000000       3564
                ...
-304.142857         1
-1045.750000        1
-379.375000         1
-888.800000         1
-733.250000         1
Name: ACTIVE_DAYS_CREDIT_UPDATE_MEAN, Length: 13634, dtype: int64

 ACTIVE_CREDIT_DAY_OVERDUE_MAX 属性的不同取值和出现的次数
0.0       302109
30.0         296
60.0         124
8.0           93
13.0          89
           ...
991.0          1
2654.0         1
413.0          1
1845.0         1
1205.0         1
Name: ACTIVE_CREDIT_DAY_OVERDUE_MAX, Length: 805, dtype: int64

 ACTIVE_CREDIT_DAY_OVERDUE_MEAN 属性的不同取值和出现的次数
0.000000       302109
10.000000          97
30.000000          93
15.000000          87
7.500000           75
                ...
1073.000000         1
15.800000           1
510.250000          1
166.000000          1
4.428571            1
Name: ACTIVE_CREDIT_DAY_OVERDUE_MEAN, Length: 1227, dtype: int64

 ACTIVE_AMT_CREDIT_MAX_OVERDUE_MEAN 属性的不同取值和出现的次数
0.000000        271171
1440.000000        178
225.000000         116
720.000000         101
2700.000000         66
                 ...
12342.195312         1
233.699997           1
2629.417480          1
4657.218750          1
7719.952637          1
Name: ACTIVE_AMT_CREDIT_MAX_OVERDUE_MEAN, Length: 28154, dtype: int64

 ACTIVE_AMT_CREDIT_SUM_MAX 属性的不同取值和出现的次数
0.000000e+00    57607
2.250000e+05     8820
4.500000e+05     8307
1.350000e+05     6135
6.750000e+05     5740
                ...
4.174358e+05        1
8.879724e+04        1
1.484640e+05        1
2.808796e+06        1
2.153110e+06        1
Name: ACTIVE_AMT_CREDIT_SUM_MAX, Length: 50548, dtype: int64

 ACTIVE_AMT_CREDIT_SUM_MEAN 属性的不同取值和出现的次数
0.00000         57607
225000.00000     4226
135000.00000     3857
180000.00000     3271
67500.00000      2918
                ...
124560.00000        1
159279.75000        1
299081.25000        1
281409.00000        1
467906.40625        1
Name: ACTIVE_AMT_CREDIT_SUM_MEAN, Length: 113988, dtype: int64

 ACTIVE_AMT_CREDIT_SUM_SUM 属性的不同取值和出现的次数
0.000          57607
225000.000      4157
135000.000      3698
180000.000      3048
450000.000      2830
               ...
398121.125         1
282735.000         1
794218.500         1
2864700.000        1
2339532.000        1
Name: ACTIVE_AMT_CREDIT_SUM_SUM, Length: 109754, dtype: int64

 ACTIVE_AMT_CREDIT_SUM_DEBT_MAX 属性的不同取值和出现的次数
0.0          91282
225000.0       144
4.5            132
135000.0       129
450000.0       123
             ...
1069501.5        1
384646.5         1
1040566.5        1
77841.0          1
595102.5         1
Name: ACTIVE_AMT_CREDIT_SUM_DEBT_MAX, Length: 156640, dtype: int64

 ACTIVE_AMT_CREDIT_SUM_DEBT_MEAN 属性的不同取值和出现的次数
0.000000e+00    90734
4.500000e+00       88
2.250000e+05       68
4.500000e+05       55
4.500000e+04       54
                ...
1.863755e+05        1
4.042575e+05        1
3.491398e+05        1
1.051844e+06        1
3.069826e+05        1
Name: ACTIVE_AMT_CREDIT_SUM_DEBT_MEAN, Length: 181798, dtype: int64

 ACTIVE_AMT_CREDIT_SUM_DEBT_SUM 属性的不同取值和出现的次数
0.000000e+00    90734
4.500000e+00      130
2.250000e+05       66
4.500000e+05       62
1.350000e+05       60
                ...
6.857100e+04        1
1.109267e+07        1
8.445618e+04        1
1.130580e+06        1
1.534913e+06        1
Name: ACTIVE_AMT_CREDIT_SUM_DEBT_SUM, Length: 175232, dtype: int64

 ACTIVE_AMT_CREDIT_SUM_OVERDUE_MEAN 属性的不同取值和出现的次数
0.000000        302180
4.500000           108
2.250000            79
1.125000            56
22.500000           53
                 ...
46.125000            1
146.654999           1
2937.000000          1
16901.720703         1
43.200001            1
Name: ACTIVE_AMT_CREDIT_SUM_OVERDUE_MEAN, Length: 1737, dtype: int64

 ACTIVE_AMT_CREDIT_SUM_LIMIT_MEAN 属性的不同取值和出现的次数
0.000000         251583
22500.000000        553
45000.000000        534
67500.000000        361
4500.000000         349
                  ...
195893.046875         1
93426.578125          1
554.372986            1
27078.773438          1
29134.193359          1
Name: ACTIVE_AMT_CREDIT_SUM_LIMIT_MEAN, Length: 42725, dtype: int64

 ACTIVE_AMT_CREDIT_SUM_LIMIT_SUM 属性的不同取值和出现的次数
0.000000e+00    251583
1.350000e+05       786
4.500000e+04       743
4.500000e+03       621
1.350000e+04       611
                 ...
5.134284e+04         1
1.027461e+06         1
3.098925e+03         1
1.864962e+04         1
5.826839e+04         1
Name: ACTIVE_AMT_CREDIT_SUM_LIMIT_SUM, Length: 41677, dtype: int64

 ACTIVE_CNT_CREDIT_PROLONG_SUM 属性的不同取值和出现的次数
0.0    300320
1.0      4359
2.0       925
3.0       139
4.0        37
5.0        24
6.0         3
9.0         2
8.0         1
7.0         1
Name: ACTIVE_CNT_CREDIT_PROLONG_SUM, dtype: int64

 ACTIVE_MONTHS_BALANCE_SIZE_SUM 属性的不同取值和出现的次数
0.0      194662
8.0        2261
6.0        2200
12.0       2156
7.0        2136
          ...
312.0         1
335.0         1
499.0         1
376.0         1
460.0         1
Name: ACTIVE_MONTHS_BALANCE_SIZE_SUM, Length: 406, dtype: int64

 CLOSED_DAYS_CREDIT_MIN 属性的不同取值和出现的次数
 0.0       37886
-2871.0      297
-2890.0      291
-2919.0      285
-2895.0      284
           ...
-57.0          2
-13.0          2
-31.0          2
-4.0           1
-27.0          1
Name: CLOSED_DAYS_CREDIT_MIN, Length: 2914, dtype: int64

 CLOSED_DAYS_CREDIT_MAX 属性的不同取值和出现的次数
 0.0      37890
-364.0      328
-385.0      325
-420.0      322
-448.0      316
          ...
-7.0          8
-5.0          5
-4.0          5
-3.0          3
-6.0          2
Name: CLOSED_DAYS_CREDIT_MAX, Length: 2921, dtype: int64

 CLOSED_DAYS_CREDIT_MEAN 属性的不同取值和出现的次数
 0.000000       37886
-761.000000        95
-1066.000000       88
-901.000000        84
-819.000000        84
                ...
-883.142857         1
-1277.947368        1
-1658.416667        1
-930.357143         1
-1688.818182        1
Name: CLOSED_DAYS_CREDIT_MEAN, Length: 48583, dtype: int64

 CLOSED_DAYS_CREDIT_VAR 属性的不同取值和出现的次数
0.000000e+00    100751
5.000000e-01      2424
4.500000e+00       171
2.000000e+00       130
8.000000e+00        97
                 ...
1.243347e+06         1
4.655930e+05         1
1.066600e+04         1
4.574873e+05         1
4.267014e+05         1
Name: CLOSED_DAYS_CREDIT_VAR, Length: 154326, dtype: int64

 CLOSED_DAYS_CREDIT_ENDDATE_MIN 属性的不同取值和出现的次数
 0.0       39674
-2492.0      486
-2520.0      483
-2500.0      481
-2528.0      469
           ...
 3576.0        1
 4460.0        1
 1481.0        1
 1713.0        1
 1088.0        1
Name: CLOSED_DAYS_CREDIT_ENDDATE_MIN, Length: 4758, dtype: int64

 CLOSED_DAYS_CREDIT_ENDDATE_MAX 属性的不同取值和出现的次数
 0.0        39805
 31072.0      397
 31184.0      375
-42.0         367
-43.0         353
            ...
 2674.0         1
 3856.0         1
 2978.0         1
 7256.0         1
 5732.0         1
Name: CLOSED_DAYS_CREDIT_ENDDATE_MAX, Length: 6297, dtype: int64

 CLOSED_DAYS_CREDIT_ENDDATE_MEAN 属性的不同取值和出现的次数
 0.000000        39676
-1064.000000       195
-1058.000000       195
-1030.000000       188
-1128.000000       188
                 ...
 203.125000          1
-20.328125           1
 20000.000000        1
 5856.000000         1
 54.750000           1
Name: CLOSED_DAYS_CREDIT_ENDDATE_MEAN, Length: 13323, dtype: int64

 CLOSED_DAYS_CREDIT_UPDATE_MEAN 属性的不同取值和出现的次数
 0.000000       37896
-11.000000        145
-18.000000        144
-12.000000        137
-7.000000         129
                ...
-1616.571429        1
-1249.166667        1
-2077.333333        1
-1814.333333        1
-1146.727273        1
Name: CLOSED_DAYS_CREDIT_UPDATE_MEAN, Length: 43237, dtype: int64

 CLOSED_CREDIT_DAY_OVERDUE_MAX 属性的不同取值和出现的次数
0.0       305729
1634.0         2
1703.0         2
1562.0         2
358.0          2
           ...
1719.0         1
11.0           1
1299.0         1
1651.0         1
1918.0         1
Name: CLOSED_CREDIT_DAY_OVERDUE_MAX, Length: 79, dtype: int64

 CLOSED_CREDIT_DAY_OVERDUE_MEAN 属性的不同取值和出现的次数
0.000000       305729
233.428571          2
204.000000          2
283.833333          2
248.166667          1
                ...
350.400000          1
36.000000           1
1681.000000         1
186.250000          1
239.750000          1
Name: CLOSED_CREDIT_DAY_OVERDUE_MEAN, Length: 80, dtype: int64

 CLOSED_AMT_CREDIT_MAX_OVERDUE_MEAN 属性的不同取值和出现的次数
0.000000        248255
4.500000           126
22.500000           99
45.000000           95
9.000000            88
                 ...
2809.500000          1
3264.375000          1
20.542500            1
8922.870117          1
14947.500000         1
Name: CLOSED_AMT_CREDIT_MAX_OVERDUE_MEAN, Length: 42981, dtype: int64

 CLOSED_AMT_CREDIT_SUM_MAX 属性的不同取值和出现的次数
0.000000e+00    40118
2.250000e+05    10437
4.500000e+05     9077
6.750000e+05     5779
1.350000e+05     5354
                ...
3.429900e+05        1
6.980688e+04        1
2.122650e+07        1
5.267250e+06        1
1.446435e+05        1
Name: CLOSED_AMT_CREDIT_SUM_MAX, Length: 77450, dtype: int64

 CLOSED_AMT_CREDIT_SUM_MEAN 属性的不同取值和出现的次数
0.00000         40118
225000.00000     1919
450000.00000     1373
135000.00000     1293
90000.00000       841
                ...
212641.78125        1
72258.75000         1
196658.59375        1
236538.00000        1
243731.25000        1
Name: CLOSED_AMT_CREDIT_SUM_MEAN, Length: 196943, dtype: int64

 CLOSED_AMT_CREDIT_SUM_SUM 属性的不同取值和出现的次数
0.000          40118
225000.000      1825
450000.000      1479
135000.000      1228
675000.000       854
               ...
201637.125         1
1312017.250        1
1075365.000        1
633379.500         1
1462387.500        1
Name: CLOSED_AMT_CREDIT_SUM_SUM, Length: 193551, dtype: int64

 CLOSED_AMT_CREDIT_SUM_DEBT_MAX 属性的不同取值和出现的次数
0.0         299808
67500.0         29
135000.0        23
4.5             23
157500.0        23
             ...
126873.0         1
34366.5          1
442462.5         1
115807.5         1
152734.5         1
Name: CLOSED_AMT_CREDIT_SUM_DEBT_MAX, Length: 5419, dtype: int64

 CLOSED_AMT_CREDIT_SUM_DEBT_MEAN 属性的不同取值和出现的次数
 0.000000         298372
 22500.000000         21
 45000.000000         11
 90000.000000          9
 52500.000000          8
                   ...
 38280.375000          1
 5674.500000           1
 322978.500000         1
 53174.699219          1
-127.957497            1
Name: CLOSED_AMT_CREDIT_SUM_DEBT_MEAN, Length: 7082, dtype: int64

 CLOSED_AMT_CREDIT_SUM_DEBT_SUM 属性的不同取值和出现的次数
 0.000000         298372
 67500.000000         27
 157500.000000        22
 135000.000000        22
 4.500000             22
                   ...
 383143.500000         1
 135615.062500         1
-624.734985            1
 656518.500000         1
-1023.659973           1
Name: CLOSED_AMT_CREDIT_SUM_DEBT_SUM, Length: 6762, dtype: int64

 CLOSED_AMT_CREDIT_SUM_OVERDUE_MEAN 属性的不同取值和出现的次数
0.000000      305657
4.500000           7
2.250000           5
0.900000           4
1.125000           4
               ...
180.000000         1
3.500000           1
171.000000         1
123.750000         1
2.863636           1
Name: CLOSED_AMT_CREDIT_SUM_OVERDUE_MEAN, Length: 115, dtype: int64

 CLOSED_AMT_CREDIT_SUM_LIMIT_MEAN 属性的不同取值和出现的次数
0.000000        301507
45000.000000       180
22500.000000       163
33750.000000       122
67500.000000        98
                 ...
2644.328613          1
17868.599609         1
33750.460938         1
15024.045898         1
59752.957031         1
Name: CLOSED_AMT_CREDIT_SUM_LIMIT_MEAN, Length: 2646, dtype: int64

 CLOSED_AMT_CREDIT_SUM_LIMIT_SUM 属性的不同取值和出现的次数
0.000000         301507
135000.000000       637
90000.000000        241
67500.000000        188
45000.000000        184
                  ...
225675.000000         1
563613.875000         1
45232.695312          1
18510.300781          1
478023.656250         1
Name: CLOSED_AMT_CREDIT_SUM_LIMIT_SUM, Length: 2496, dtype: int64

 CLOSED_CNT_CREDIT_PROLONG_SUM 属性的不同取值和出现的次数
0.0    302408
1.0      2935
2.0       352
3.0        89
4.0        20
5.0         6
6.0         1
Name: CLOSED_CNT_CREDIT_PROLONG_SUM, dtype: int64

 CLOSED_MONTHS_BALANCE_SIZE_SUM 属性的不同取值和出现的次数
0.0       187316
16.0         851
18.0         830
30.0         829
12.0         824
           ...
1207.0         1
1446.0         1
1857.0         1
983.0          1
1134.0         1
Name: CLOSED_MONTHS_BALANCE_SIZE_SUM, Length: 1142, dtype: int64

 NEW_RATIO_BURO_DAYS_CREDIT_MIN 属性的不同取值和出现的次数
0.000000    91696
1.000000     4206
0.500000       63
0.333333       43
0.200000       40
            ...
0.101595        1
2.548822        1
0.233942        1
0.514816        1
0.436457        1
Name: NEW_RATIO_BURO_DAYS_CREDIT_MIN, Length: 190453, dtype: int64

 NEW_RATIO_BURO_DAYS_CREDIT_MAX 属性的不同取值和出现的次数
0.000000    91714
1.000000     4214
0.500000      215
0.333333      175
0.250000      115
            ...
0.438580        1
0.822196        1
0.990783        1
0.470699        1
0.374227        1
Name: NEW_RATIO_BURO_DAYS_CREDIT_MAX, Length: 152058, dtype: int64

 NEW_RATIO_BURO_DAYS_CREDIT_MEAN 属性的不同取值和出现的次数
0.000000    91696
1.000000      719
0.500000       38
0.333333       23
0.250000       23
            ...
0.623569        1
0.265757        1
0.088881        1
0.187132        1
0.363300        1
Name: NEW_RATIO_BURO_DAYS_CREDIT_MEAN, Length: 207074, dtype: int64

 NEW_RATIO_BURO_DAYS_CREDIT_VAR 属性的不同取值和出现的次数
0.000000     182299
1.000000         33
9.000000         10
0.360000          6
49.000000         6
              ...
0.404985          1
0.079275          1
2.247545          1
0.005281          1
0.173153          1
Name: NEW_RATIO_BURO_DAYS_CREDIT_VAR, Length: 122637, dtype: int64

 NEW_RATIO_BURO_DAYS_CREDIT_ENDDATE_MIN 属性的不同取值和出现的次数
 0.000000    101717
 1.000000       785
-0.666504        51
-0.520508        51
-0.501465        50
              ...
 1.911133         1
-0.000833         1
 0.060028         1
-0.003107         1
-0.002697         1
Name: NEW_RATIO_BURO_DAYS_CREDIT_ENDDATE_MIN, Length: 27704, dtype: int64

 NEW_RATIO_BURO_DAYS_CREDIT_ENDDATE_MAX 属性的不同取值和出现的次数
 0.000000      101522
 1.000000        1832
-1.000000          59
 1.000977          54
-2.000000          52
                ...
 41.781250          1
-511.250000         1
-0.026245           1
 0.010506           1
 869.000000         1
Name: NEW_RATIO_BURO_DAYS_CREDIT_ENDDATE_MAX, Length: 31390, dtype: int64

 NEW_RATIO_BURO_DAYS_CREDIT_ENDDATE_MEAN 属性的不同取值和出现的次数
 0.000000      101404
 1.000000         136
-1.007812          60
-0.515625          58
-0.551758          58
                ...
-186.250000         1
-0.007214           1
-107.250000         1
 0.063843           1
 16.890625          1
Name: NEW_RATIO_BURO_DAYS_CREDIT_ENDDATE_MEAN, Length: 27459, dtype: int64

 NEW_RATIO_BURO_DAYS_CREDIT_UPDATE_MEAN 属性的不同取值和出现的次数
0.000000    91742
1.000000      422
0.250000       59
0.066667       57
0.125000       54
            ...
0.057654        1
0.220067        1
0.048162        1
0.246811        1
0.024738        1
Name: NEW_RATIO_BURO_DAYS_CREDIT_UPDATE_MEAN, Length: 171845, dtype: int64

 NEW_RATIO_BURO_AMT_CREDIT_SUM_MAX 属性的不同取值和出现的次数
0.000000     96235
1.000000      3787
2.000000      1829
1.500000      1044
1.666667       933
             ...
0.304927         1
0.176853         1
14.935169        1
1.494246         1
4.454561         1
Name: NEW_RATIO_BURO_AMT_CREDIT_SUM_MAX, Length: 136530, dtype: int64

 NEW_RATIO_BURO_AMT_CREDIT_SUM_MEAN 属性的不同取值和出现的次数
0.000000    96235
1.000000      343
2.000000      180
0.500000      116
1.500000       92
            ...
2.657350        1
1.788772        1
1.430858        1
0.097382        1
1.919764        1
Name: NEW_RATIO_BURO_AMT_CREDIT_SUM_MEAN, Length: 199405, dtype: int64

 NEW_RATIO_BURO_AMT_CREDIT_SUM_SUM 属性的不同取值和出现的次数
0.000000     96235
1.000000       321
2.000000       164
0.500000       142
2.500000        99
             ...
5.150434         1
0.133432         1
0.847543         1
27.577618        1
1.599803         1
Name: NEW_RATIO_BURO_AMT_CREDIT_SUM_SUM, Length: 199424, dtype: int64

 NEW_RATIO_BURO_AMT_CREDIT_SUM_DEBT_MAX 属性的不同取值和出现的次数
0.000000    301281
0.568266         2
1.577736         2
0.142752         2
0.769483         2
             ...
1.503715         1
0.113400         1
0.494735         1
1.004038         1
0.368819         1
Name: NEW_RATIO_BURO_AMT_CREDIT_SUM_DEBT_MAX, Length: 4523, dtype: int64

 NEW_RATIO_BURO_AMT_CREDIT_SUM_DEBT_MEAN 属性的不同取值和出现的次数
 0.000000        300031
-26288.070312         2
 279.848846           2
 1.612107             2
 0.142752             2
                  ...
 0.503960             1
 3.957534             1
-4451.259277          1
-61.102020            1
 2.950550             1
Name: NEW_RATIO_BURO_AMT_CREDIT_SUM_DEBT_MEAN, Length: 5772, dtype: int64

 NEW_RATIO_BURO_AMT_CREDIT_SUM_DEBT_SUM 属性的不同取值和出现的次数
 0.000000        300031
 0.178081             2
-488.919250           2
-1455.487061          2
-13144.035156         2
                  ...
 0.251980             1
 0.989383             1
-2543.576660          1
-45.826519            1
 0.368819             1
Name: NEW_RATIO_BURO_AMT_CREDIT_SUM_DEBT_SUM, Length: 5772, dtype: int64

In [40]:
bureau.shape[0]

305811

In [41]:
bureau.BURO_AMT_CREDIT_SUM_SUM.value_counts().max()

1513

In [42]:
len(drop_list_bureau)

46

In [43]:
bureau.shape

(305811, 118)

In [44]:
bureau.drop(labels = drop_list_bureau, axis = 1, inplace = True)

In [45]:
bureau.shape

(305811, 72)

In [46]:
bureau.to_csv("C:/data/processing_data/bureau.csv")

In [47]:
bureau

,BURO_DAYS_CREDIT_MIN,BURO_DAYS_CREDIT_MAX,BURO_DAYS_CREDIT_MEAN,BURO_DAYS_CREDIT_VAR,BURO_DAYS_CREDIT_ENDDATE_MIN,BURO_DAYS_CREDIT_ENDDATE_MAX,BURO_DAYS_CREDIT_ENDDATE_MEAN,BURO_DAYS_CREDIT_UPDATE_MEAN,BURO_AMT_CREDIT_MAX_OVERDUE_MEAN,BURO_AMT_CREDIT_SUM_MAX,...,NEW_RATIO_BURO_DAYS_CREDIT_MAX,NEW_RATIO_BURO_DAYS_CREDIT_MEAN,NEW_RATIO_BURO_DAYS_CREDIT_VAR,NEW_RATIO_BURO_DAYS_CREDIT_ENDDATE_MIN,NEW_RATIO_BURO_DAYS_CREDIT_ENDDATE_MAX,NEW_RATIO_BURO_DAYS_CREDIT_ENDDATE_MEAN,NEW_RATIO_BURO_DAYS_CREDIT_UPDATE_MEAN,NEW_RATIO_BURO_AMT_CREDIT_SUM_MAX,NEW_RATIO_BURO_AMT_CREDIT_SUM_MEAN,NEW_RATIO_BURO_AMT_CREDIT_SUM_SUM
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,-1572,-49,-735.000000,240043.666667,-1329.0,1778.0,82.4375,-93.142857,0.000000,3.780000e+05,...,0.057176,0.293416,0.544427,-0.309326,-9.929688,-1.638672,0.068817,1.351351,2.070292,1.552719
100002,-1437,-103,-874.000000,186150.000000,-1072.0,780.0,-349.0000,-499.875000,1681.029053,4.500000e+05,...,0.216387,0.587481,3.556569,-0.727539,9.179688,-1.356445,0.023438,3.333333,3.774707,1.258236
100003,-2586,-606,-1400.750000,827783.583333,-2434.0,1216.0,-544.5000,-816.000000,0.000000,8.100000e+05,...,0.781935,0.363818,0.000000,-0.499512,-2.894531,-1.075195,0.040050,7.200000,11.716461,3.905487
100004,-1326,-408,-867.000000,421362.000000,-595.0,-382.0,-488.5000,-532.000000,0.000000,9.453780e+04,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
100005,-373,-62,-190.666667,26340.333333,-128.0,1324.0,439.2500,-54.333333,0.000000,5.688000e+05,...,0.166220,0.266756,0.000000,-0.953125,-10.343750,-5.648438,0.173554,9.723077,5.116462,10.232924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456249,-2713,-483,-1667.076923,407302.243590,-2500.0,1363.0,-1232.0000,-1064.538462,6147.000000,7.650000e+05,...,0.534884,0.916321,8.758694,0.598633,-2.072266,0.045715,0.534129,0.294118,0.677287,0.123143
456250,-1002,-760,-862.000000,15724.000000,-272.0,2340.0,1288.0000,-60.333333,0.000000,2.153110e+06,...,0.758483,0.790419,0.000000,-6.605469,-8.601562,-7.601562,0.212598,4.454561,2.692782,5.385565
456253,-919,-713,-867.500000,10609.000000,-189.0,1113.0,280.5000,-253.250000,0.000000,2.250000e+06,...,0.775843,0.887922,0.000000,-2.046875,-5.890625,-3.968750,0.221954,3.333333,1.933333,1.933333
456254,-1104,-1104,-1104.000000,0.000000,-859.0,-859.0,-859.0000,-401.000000,0.000000,4.500000e+04,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
456255,-2337,-363,-1089.454545,502786.672727,-1243.0,27328.0,3232.0000,-531.090909,12056.481445,9.000000e+05,...,0.374227,0.363300,0.173153,-0.224487,3.167969,7.074219,0.024738,0.900000,1.919764,1.599803

# previous

In [48]:
prev = pd.read_csv(path + 'previous_application.csv')
prev.head(10)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN
5,1383531,199383,Cash loans,23703.930,315000.0,340573.5,NaN,315000.0,SATURDAY,8,...,XNA,18.0,low_normal,Cash X-Sell: low,365243.0,-654.0,-144.0,-144.0,-137.0,1.0
6,2315218,175704,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,11,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
7,1656711,296299,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,7,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
8,2367563,342292,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,15,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
9,2579447,334349,Cash loans,NaN,0.0,0.0,NaN,NaN,SATURDAY,15,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
prev.shape

(1670214, 37)

In [50]:
def previous_applications():
    prev = pd.read_csv(path + 'previous_application.csv')
    
    print("before shape", prev.shape)
    prev, cat_cols = encoder(prev)
    # Days 365.243 values -> nan
    prev['DAYS_FIRST_DRAWING'].replace(365243, np.nan, inplace= True)
    prev['DAYS_FIRST_DUE'].replace(365243, np.nan, inplace= True)
    prev['DAYS_LAST_DUE_1ST_VERSION'].replace(365243, np.nan, inplace= True)
    prev['DAYS_LAST_DUE'].replace(365243, np.nan, inplace= True)
    prev['DAYS_TERMINATION'].replace(365243, np.nan, inplace= True)
    # Add feature: value ask / value received percentage
    prev['APP_CREDIT_PERC'] = prev['AMT_APPLICATION'] / prev['AMT_CREDIT']
    # Previous applications numeric features
    num_aggregations = {
        'AMT_ANNUITY': ['min', 'max', 'mean'],
        'AMT_APPLICATION': ['min', 'max', 'mean'],
        'AMT_CREDIT': ['min', 'max', 'mean'],
        'APP_CREDIT_PERC': ['min', 'max', 'mean', 'var'],
        'AMT_DOWN_PAYMENT': ['min', 'max', 'mean'],
        'AMT_GOODS_PRICE': ['min', 'max', 'mean'],
        'HOUR_APPR_PROCESS_START': ['min', 'max', 'mean'],
        'RATE_DOWN_PAYMENT': ['min', 'max', 'mean'],
        'DAYS_DECISION': ['min', 'max', 'mean'],
        'CNT_PAYMENT': ['mean', 'sum'],
    }
    # Previous applications categorical features
    cat_aggregations = {}
    for cat in cat_cols:
        cat_aggregations[cat] = ['mean']
    
    prev_agg = prev.groupby('SK_ID_CURR').agg({**num_aggregations, **cat_aggregations})
    prev_agg.columns = pd.Index(['PREV_' + e[0] + "_" + e[1].upper() for e in prev_agg.columns.tolist()])
    # Previous Applications: Approved Applications - only numerical features
    approved = prev[prev['NAME_CONTRACT_STATUS_Approved'] == 1]
    approved_agg = approved.groupby('SK_ID_CURR').agg(num_aggregations)
    approved_agg.columns = pd.Index(['APPROVED_' + e[0] + "_" + e[1].upper() for e in approved_agg.columns.tolist()])
    prev_agg = prev_agg.join(approved_agg, how='left', on='SK_ID_CURR')
    # Previous Applications: Refused Applications - only numerical features
    refused = prev[prev['NAME_CONTRACT_STATUS_Refused'] == 1]
    refused_agg = refused.groupby('SK_ID_CURR').agg(num_aggregations)
    refused_agg.columns = pd.Index(['REFUSED_' + e[0] + "_" + e[1].upper() for e in refused_agg.columns.tolist()])
    prev_agg = prev_agg.join(refused_agg, how='left', on='SK_ID_CURR')
    del refused, refused_agg, approved, approved_agg, prev
    gc.collect()
    print("after shape", prev_agg.shape)
    return prev_agg

In [51]:
prev = previous_applications()
prev.head(10)

before shape (1670214, 37)
after shape (338857, 246)

,PREV_AMT_ANNUITY_MIN,PREV_AMT_ANNUITY_MAX,PREV_AMT_ANNUITY_MEAN,PREV_AMT_APPLICATION_MIN,PREV_AMT_APPLICATION_MAX,PREV_AMT_APPLICATION_MEAN,PREV_AMT_CREDIT_MIN,PREV_AMT_CREDIT_MAX,PREV_AMT_CREDIT_MEAN,PREV_APP_CREDIT_PERC_MIN,...,REFUSED_HOUR_APPR_PROCESS_START_MAX,REFUSED_HOUR_APPR_PROCESS_START_MEAN,REFUSED_RATE_DOWN_PAYMENT_MIN,REFUSED_RATE_DOWN_PAYMENT_MAX,REFUSED_RATE_DOWN_PAYMENT_MEAN,REFUSED_DAYS_DECISION_MIN,REFUSED_DAYS_DECISION_MAX,REFUSED_DAYS_DECISION_MEAN,REFUSED_CNT_PAYMENT_MEAN,REFUSED_CNT_PAYMENT_SUM
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,3951.000,3951.000,3951.000000,24835.5,24835.5,24835.500000,23787.0,23787.0,23787.000000,1.044079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100002,9251.775,9251.775,9251.775000,179055.0,179055.0,179055.000000,179055.0,179055.0,179055.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100003,6737.310,98356.995,56553.990000,68809.5,900000.0,435436.500000,68053.5,1035882.0,484191.000000,0.868825,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100004,5357.250,5357.250,5357.250000,24282.0,24282.0,24282.000000,20106.0,20106.0,20106.000000,1.207699,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100005,4813.200,4813.200,4813.200000,0.0,44617.5,22308.750000,0.0,40153.5,20076.750000,1.111173,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100006,2482.920,39954.510,23651.175000,0.0,688500.0,272203.260000,0.0,906615.0,291695.500000,0.759418,...,15.0,15.0,NaN,NaN,NaN,-181.0,-181.0,-181.0,48.0,48.0
100007,1834.290,22678.785,12278.805000,17176.5,247500.0,150530.250000,14616.0,284400.0,166638.750000,0.791139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100008,8019.090,25309.575,15839.696250,0.0,450000.0,155701.800000,0.0,501975.0,162767.700000,0.896459,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100009,7435.845,17341.605,10051.412143,40455.0,110160.0,76741.714286,38574.0,98239.5,70137.642857,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100010,27463.410,27463.410,27463.410000,247212.0,247212.0,247212.000000,260811.0,260811.0,260811.000000,0.947859,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
prev = data_processing(prev)

before process df shape: (338857, 246)
selected dataframe has 246 columns.
There are 77 columns that have missing values.
                                      Missing Count  percent
REFUSED_RATE_DOWN_PAYMENT_MAX                286252     84.5
REFUSED_RATE_DOWN_PAYMENT_MIN                286252     84.5
REFUSED_AMT_DOWN_PAYMENT_MEAN                286252     84.5
REFUSED_AMT_DOWN_PAYMENT_MAX                 286252     84.5
REFUSED_AMT_DOWN_PAYMENT_MIN                 286252     84.5
REFUSED_RATE_DOWN_PAYMENT_MEAN               286252     84.5
REFUSED_APP_CREDIT_PERC_VAR                  280637     82.8
REFUSED_CNT_PAYMENT_MEAN                     230761     68.1
REFUSED_AMT_ANNUITY_MEAN                     230761     68.1
REFUSED_AMT_ANNUITY_MAX                      230761     68.1
REFUSED_AMT_ANNUITY_MIN                      230761     68.1
REFUSED_AMT_GOODS_PRICE_MIN                  228815     67.5
REFUSED_AMT_GOODS_PRICE_MEAN                 228815     67.5
REFUSED_AMT_GOODS_PRICE_MAX                  228815     67.5
REFUSED_APP_CREDIT_PERC_MEAN                 226401     66.8
REFUSED_APP_CREDIT_PERC_MIN                  226400     66.8
REFUSED_APP_CREDIT_PERC_MAX                  226400     66.8
REFUSED_AMT_CREDIT_MEAN                      220580     65.1
REFUSED_AMT_CREDIT_MAX                       220580     65.1
REFUSED_AMT_CREDIT_MIN                       220580     65.1
REFUSED_AMT_APPLICATION_MIN                  220580     65.1
REFUSED_AMT_APPLICATION_MAX                  220580     65.1
REFUSED_CNT_PAYMENT_SUM                      220580     65.1
REFUSED_AMT_APPLICATION_MEAN                 220580     65.1
REFUSED_HOUR_APPR_PROCESS_START_MIN          220580     65.1
REFUSED_HOUR_APPR_PROCESS_START_MAX          220580     65.1
REFUSED_DAYS_DECISION_MEAN                   220580     65.1
REFUSED_DAYS_DECISION_MAX                    220580     65.1
REFUSED_DAYS_DECISION_MIN                    220580     65.1
REFUSED_HOUR_APPR_PROCESS_START_MEAN         220580     65.1
drop missing values over 60
selected dataframe has 246 columns.
There are 77 columns that have missing values.
after drop missing values df shape: (338857, 216)
the same values feature num : 77
after process df shape: (338857, 139)

In [53]:
prev.to_csv("C:/data/processing_data/prev.csv")

In [54]:
prev.head(10)

,PREV_AMT_ANNUITY_MIN,PREV_AMT_ANNUITY_MAX,PREV_AMT_ANNUITY_MEAN,PREV_AMT_APPLICATION_MIN,PREV_AMT_APPLICATION_MAX,PREV_AMT_APPLICATION_MEAN,PREV_AMT_CREDIT_MIN,PREV_AMT_CREDIT_MAX,PREV_AMT_CREDIT_MEAN,PREV_APP_CREDIT_PERC_MIN,...,APPROVED_HOUR_APPR_PROCESS_START_MAX,APPROVED_HOUR_APPR_PROCESS_START_MEAN,APPROVED_RATE_DOWN_PAYMENT_MIN,APPROVED_RATE_DOWN_PAYMENT_MAX,APPROVED_RATE_DOWN_PAYMENT_MEAN,APPROVED_DAYS_DECISION_MIN,APPROVED_DAYS_DECISION_MAX,APPROVED_DAYS_DECISION_MEAN,APPROVED_CNT_PAYMENT_MEAN,APPROVED_CNT_PAYMENT_SUM
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,3951.000,3951.000,3951.000000,24835.5,24835.5,24835.500000,23787.0,23787.0,23787.000000,1.044079,...,13.0,13.000000,0.104326,0.104326,0.104326,-1740.0,-1740.0,-1740.000000,8.000000,8.0
100002,9251.775,9251.775,9251.775000,179055.0,179055.0,179055.000000,179055.0,179055.0,179055.000000,1.000000,...,9.0,9.000000,0.000000,0.000000,0.000000,-606.0,-606.0,-606.000000,24.000000,24.0
100003,6737.310,98356.995,56553.990000,68809.5,900000.0,435436.500000,68053.5,1035882.0,484191.000000,0.868825,...,17.0,14.666667,0.000000,0.100061,0.050030,-2341.0,-746.0,-1305.000000,10.000000,30.0
100004,5357.250,5357.250,5357.250000,24282.0,24282.0,24282.000000,20106.0,20106.0,20106.000000,1.207699,...,5.0,5.000000,0.212008,0.212008,0.212008,-815.0,-815.0,-815.000000,4.000000,4.0
100005,4813.200,4813.200,4813.200000,0.0,44617.5,22308.750000,0.0,40153.5,20076.750000,1.111173,...,11.0,11.000000,0.108964,0.108964,0.108964,-757.0,-757.0,-757.000000,12.000000,12.0
100006,2482.920,39954.510,23651.175000,0.0,688500.0,272203.260000,0.0,906615.0,291695.500000,0.759418,...,15.0,14.400000,0.108994,0.217830,0.163412,-617.0,-181.0,-345.600000,18.000000,90.0
100007,1834.290,22678.785,12278.805000,17176.5,247500.0,150530.250000,14616.0,284400.0,166638.750000,0.791139,...,15.0,12.333333,0.100143,0.218890,0.159516,-2357.0,-374.0,-1222.833333,20.666667,124.0
100008,8019.090,25309.575,15839.696250,0.0,450000.0,155701.800000,0.0,501975.0,162767.700000,0.896459,...,13.0,10.500000,0.000000,0.110243,0.073051,-2536.0,-370.0,-1469.500000,14.000000,56.0
100009,7435.845,17341.605,10051.412143,40455.0,110160.0,76741.714286,38574.0,98239.5,70137.642857,1.000000,...,18.0,13.714286,0.000000,0.209525,0.126602,-1562.0,-74.0,-719.285714,8.000000,56.0
100010,27463.410,27463.410,27463.410000,247212.0,247212.0,247212.000000,260811.0,260811.0,260811.000000,0.947859,...,16.0,16.000000,0.000000,0.000000,0.000000,-1070.0,-1070.0,-1070.000000,10.000000,10.0

# POS_CASH_BALANCE

In [55]:
pos = pd.read_csv( 'POS_CASH_balance.csv')
pos.head(10)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0
5,2207092,342166,-32,12.0,12.0,Active,0,0
6,1110516,204376,-38,48.0,43.0,Active,0,0
7,1387235,153211,-35,36.0,36.0,Active,0,0
8,1220500,112740,-31,12.0,12.0,Active,0,0
9,2371489,274851,-32,24.0,16.0,Active,0,0

In [56]:
def pos_cash():
    pos = pd.read_csv(path + 'POS_CASH_balance.csv')
    print("before shape", pos.shape)
    pos, cat_cols = encoder(pos)
    # Features
    aggregations = {
        'MONTHS_BALANCE': ['max', 'mean', 'size'],
        'SK_DPD': ['max', 'mean'],
        'SK_DPD_DEF': ['max', 'mean']
    }
    for cat in cat_cols:
        aggregations[cat] = ['mean']
    
    pos_agg = pos.groupby('SK_ID_CURR').agg(aggregations)
    pos_agg.columns = pd.Index(['POS_' + e[0] + "_" + e[1].upper() for e in pos_agg.columns.tolist()])
    # Count pos cash accounts
    pos_agg['POS_COUNT'] = pos.groupby('SK_ID_CURR').size()
    del pos
    gc.collect()
    print("after shape", pos_agg.shape)
    return pos_agg

In [57]:
pos = pos_cash()
pos.head(10)

before shape (10001358, 8)
after shape (337252, 18)

,POS_MONTHS_BALANCE_MAX,POS_MONTHS_BALANCE_MEAN,POS_MONTHS_BALANCE_SIZE,POS_SK_DPD_MAX,POS_SK_DPD_MEAN,POS_SK_DPD_DEF_MAX,POS_SK_DPD_DEF_MEAN,POS_NAME_CONTRACT_STATUS_Active_MEAN,POS_NAME_CONTRACT_STATUS_Amortized debt_MEAN,POS_NAME_CONTRACT_STATUS_Approved_MEAN,POS_NAME_CONTRACT_STATUS_Canceled_MEAN,POS_NAME_CONTRACT_STATUS_Completed_MEAN,POS_NAME_CONTRACT_STATUS_Demand_MEAN,POS_NAME_CONTRACT_STATUS_Returned to the store_MEAN,POS_NAME_CONTRACT_STATUS_Signed_MEAN,POS_NAME_CONTRACT_STATUS_XNA_MEAN,POS_NAME_CONTRACT_STATUS_nan_MEAN,POS_COUNT
SK_ID_CURR,,,,,,,,,,,,,,,,,,
100001,-53,-72.555556,9,7,0.777778,7,0.777778,0.777778,0.0,0.0,0.0,0.222222,0.0,0.000000,0.000000,0.0,0.0,9
100002,-1,-10.000000,19,0,0.000000,0,0.000000,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,19
100003,-18,-43.785714,28,0,0.000000,0,0.000000,0.928571,0.0,0.0,0.0,0.071429,0.0,0.000000,0.000000,0.0,0.0,28
100004,-24,-25.500000,4,0,0.000000,0,0.000000,0.750000,0.0,0.0,0.0,0.250000,0.0,0.000000,0.000000,0.0,0.0,4
100005,-15,-20.000000,11,0,0.000000,0,0.000000,0.818182,0.0,0.0,0.0,0.090909,0.0,0.000000,0.090909,0.0,0.0,11
100006,-1,-9.619048,21,0,0.000000,0,0.000000,0.857143,0.0,0.0,0.0,0.095238,0.0,0.047619,0.000000,0.0,0.0,21
100007,-1,-33.636364,66,0,0.000000,0,0.000000,0.939394,0.0,0.0,0.0,0.045455,0.0,0.000000,0.015152,0.0,0.0,66
100008,-2,-43.662651,83,1294,339.060241,0,0.000000,0.939759,0.0,0.0,0.0,0.048193,0.0,0.000000,0.012048,0.0,0.0,83
100009,-1,-33.062500,64,0,0.000000,0,0.000000,0.890625,0.0,0.0,0.0,0.109375,0.0,0.000000,0.000000,0.0,0.0,64
100010,-25,-30.000000,11,0,0.000000,0,0.000000,0.909091,0.0,0.0,0.0,0.090909,0.0,0.000000,0.000000,0.0,0.0,11

In [58]:
pos = data_processing(pos)

before process df shape: (337252, 18)
selected dataframe has 18 columns.
There are 0 columns that have missing values.
Empty DataFrame
Columns: [Missing Count, percent]
Index: []
drop missing values over 60
selected dataframe has 18 columns.
There are 0 columns that have missing values.
after drop missing values df shape: (337252, 18)
the same values feature num : 7
after process df shape: (337252, 11)

In [59]:
pos.head(10)

,POS_MONTHS_BALANCE_MAX,POS_MONTHS_BALANCE_MEAN,POS_MONTHS_BALANCE_SIZE,POS_SK_DPD_MAX,POS_SK_DPD_MEAN,POS_SK_DPD_DEF_MAX,POS_SK_DPD_DEF_MEAN,POS_NAME_CONTRACT_STATUS_Active_MEAN,POS_NAME_CONTRACT_STATUS_Completed_MEAN,POS_NAME_CONTRACT_STATUS_Signed_MEAN,POS_COUNT
SK_ID_CURR,,,,,,,,,,,
100001,-53,-72.555556,9,7,0.777778,7,0.777778,0.777778,0.222222,0.000000,9
100002,-1,-10.000000,19,0,0.000000,0,0.000000,1.000000,0.000000,0.000000,19
100003,-18,-43.785714,28,0,0.000000,0,0.000000,0.928571,0.071429,0.000000,28
100004,-24,-25.500000,4,0,0.000000,0,0.000000,0.750000,0.250000,0.000000,4
100005,-15,-20.000000,11,0,0.000000,0,0.000000,0.818182,0.090909,0.090909,11
100006,-1,-9.619048,21,0,0.000000,0,0.000000,0.857143,0.095238,0.000000,21
100007,-1,-33.636364,66,0,0.000000,0,0.000000,0.939394,0.045455,0.015152,66
100008,-2,-43.662651,83,1294,339.060241,0,0.000000,0.939759,0.048193,0.012048,83
100009,-1,-33.062500,64,0,0.000000,0,0.000000,0.890625,0.109375,0.000000,64
100010,-25,-30.000000,11,0,0.000000,0,0.000000,0.909091,0.090909,0.000000,11

In [60]:
pos.to_csv("C:/data/processing_data/pos.csv")

In [61]:
pos.head(10)

,POS_MONTHS_BALANCE_MAX,POS_MONTHS_BALANCE_MEAN,POS_MONTHS_BALANCE_SIZE,POS_SK_DPD_MAX,POS_SK_DPD_MEAN,POS_SK_DPD_DEF_MAX,POS_SK_DPD_DEF_MEAN,POS_NAME_CONTRACT_STATUS_Active_MEAN,POS_NAME_CONTRACT_STATUS_Completed_MEAN,POS_NAME_CONTRACT_STATUS_Signed_MEAN,POS_COUNT
SK_ID_CURR,,,,,,,,,,,
100001,-53,-72.555556,9,7,0.777778,7,0.777778,0.777778,0.222222,0.000000,9
100002,-1,-10.000000,19,0,0.000000,0,0.000000,1.000000,0.000000,0.000000,19
100003,-18,-43.785714,28,0,0.000000,0,0.000000,0.928571,0.071429,0.000000,28
100004,-24,-25.500000,4,0,0.000000,0,0.000000,0.750000,0.250000,0.000000,4
100005,-15,-20.000000,11,0,0.000000,0,0.000000,0.818182,0.090909,0.090909,11
100006,-1,-9.619048,21,0,0.000000,0,0.000000,0.857143,0.095238,0.000000,21
100007,-1,-33.636364,66,0,0.000000,0,0.000000,0.939394,0.045455,0.015152,66
100008,-2,-43.662651,83,1294,339.060241,0,0.000000,0.939759,0.048193,0.012048,83
100009,-1,-33.062500,64,0,0.000000,0,0.000000,0.890625,0.109375,0.000000,64
100010,-25,-30.000000,11,0,0.000000,0,0.000000,0.909091,0.090909,0.000000,11

# installments payments

In [62]:
def installments_payments():
    ins = pd.read_csv(path + 'installments_payments.csv')
    print("before shape:", ins.shape)
    ins, cat_cols = encoder(ins)
    # Percentage and difference paid in each installment (amount paid and installment value)
    ins['PAYMENT_PERC'] = ins['AMT_PAYMENT'] / ins['AMT_INSTALMENT']
    ins['PAYMENT_DIFF'] = ins['AMT_INSTALMENT'] - ins['AMT_PAYMENT']
    # Days past due and days before due (no negative values)
    ins['DPD'] = ins['DAYS_ENTRY_PAYMENT'] - ins['DAYS_INSTALMENT']
    ins['DBD'] = ins['DAYS_INSTALMENT'] - ins['DAYS_ENTRY_PAYMENT']
    ins['DPD'] = ins['DPD'].apply(lambda x: x if x > 0 else 0)
    ins['DBD'] = ins['DBD'].apply(lambda x: x if x > 0 else 0)
    # Features: Perform aggregations
    aggregations = {
        'NUM_INSTALMENT_VERSION': ['nunique'],
        'DPD': ['max', 'mean', 'sum'],
        'DBD': ['max', 'mean', 'sum'],
        'PAYMENT_PERC': ['max', 'mean', 'sum', 'var'],
        'PAYMENT_DIFF': ['max', 'mean', 'sum', 'var'],
        'AMT_INSTALMENT': ['max', 'mean', 'sum'],
        'AMT_PAYMENT': ['min', 'max', 'mean', 'sum'],
        'DAYS_ENTRY_PAYMENT': ['max', 'mean', 'sum']
    }
    for cat in cat_cols:
        aggregations[cat] = ['mean']
    ins_agg = ins.groupby('SK_ID_CURR').agg(aggregations)
    ins_agg.columns = pd.Index(['INSTAL_' + e[0] + "_" + e[1].upper() for e in ins_agg.columns.tolist()])
    # Count installments accounts
    ins_agg['INSTAL_COUNT'] = ins.groupby('SK_ID_CURR').size()
    del ins
    gc.collect()
    print("after shape: ",ins_agg.shape)
    return ins_agg

In [63]:
ins = installments_payments()

before shape: (13605401, 8)
after shape:  (339587, 26)

In [64]:
ins = data_processing(ins)

before process df shape: (339587, 26)
selected dataframe has 26 columns.
There are 12 columns that have missing values.
                                Missing Count  percent
INSTAL_PAYMENT_PERC_VAR                   996      0.3
INSTAL_PAYMENT_DIFF_VAR                   977      0.3
INSTAL_PAYMENT_PERC_MEAN                   28      0.0
INSTAL_PAYMENT_PERC_SUM                    19      0.0
INSTAL_PAYMENT_PERC_MAX                     9      0.0
INSTAL_PAYMENT_DIFF_MAX                     9      0.0
INSTAL_PAYMENT_DIFF_MEAN                    9      0.0
INSTAL_AMT_PAYMENT_MIN                      9      0.0
INSTAL_AMT_PAYMENT_MAX                      9      0.0
INSTAL_AMT_PAYMENT_MEAN                     9      0.0
INSTAL_DAYS_ENTRY_PAYMENT_MAX               9      0.0
INSTAL_DAYS_ENTRY_PAYMENT_MEAN              9      0.0
drop missing values over 60
selected dataframe has 26 columns.
There are 12 columns that have missing values.
after drop missing values df shape: (339587, 26)
the same values feature num : 0
after process df shape: (339587, 26)

In [65]:
ins.to_csv("C:/data/processing_data/ins.csv")

In [66]:
ins.head(10)

,INSTAL_NUM_INSTALMENT_VERSION_NUNIQUE,INSTAL_DPD_MAX,INSTAL_DPD_MEAN,INSTAL_DPD_SUM,INSTAL_DBD_MAX,INSTAL_DBD_MEAN,INSTAL_DBD_SUM,INSTAL_PAYMENT_PERC_MAX,INSTAL_PAYMENT_PERC_MEAN,INSTAL_PAYMENT_PERC_SUM,...,INSTAL_AMT_INSTALMENT_MEAN,INSTAL_AMT_INSTALMENT_SUM,INSTAL_AMT_PAYMENT_MIN,INSTAL_AMT_PAYMENT_MAX,INSTAL_AMT_PAYMENT_MEAN,INSTAL_AMT_PAYMENT_SUM,INSTAL_DAYS_ENTRY_PAYMENT_MAX,INSTAL_DAYS_ENTRY_PAYMENT_MEAN,INSTAL_DAYS_ENTRY_PAYMENT_SUM,INSTAL_COUNT
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,2,11.0,1.571429,11.0,36.0,8.857143,62.0,1.0,1.000000,7.0,...,5885.132143,41195.925,3951.000,17397.900,5885.132143,41195.925,-1628.0,-2195.000000,-15365.0,7
100002,2,0.0,0.000000,0.0,31.0,20.421053,388.0,1.0,1.000000,19.0,...,11559.247105,219625.695,9251.775,53093.745,11559.247105,219625.695,-49.0,-315.421053,-5993.0,19
100003,2,0.0,0.000000,0.0,14.0,7.160000,179.0,1.0,1.000000,25.0,...,64754.586000,1618864.650,6662.970,560835.360,64754.586000,1618864.650,-544.0,-1385.320000,-34633.0,25
100004,2,0.0,0.000000,0.0,11.0,7.666667,23.0,1.0,1.000000,3.0,...,7096.155000,21288.465,5357.250,10573.965,7096.155000,21288.465,-727.0,-761.666667,-2285.0,3
100005,2,1.0,0.111111,1.0,37.0,23.666667,213.0,1.0,1.000000,9.0,...,6240.205000,56161.845,4813.200,17656.245,6240.205000,56161.845,-470.0,-609.555556,-5486.0,9
100006,2,0.0,0.000000,0.0,77.0,19.375000,310.0,1.0,1.000000,16.0,...,62947.088438,1007153.415,2482.920,691786.890,62947.088438,1007153.415,-12.0,-271.625000,-4346.0,16
100007,2,12.0,0.954545,63.0,31.0,4.590909,303.0,1.0,0.954545,63.0,...,12666.444545,835985.340,0.180,22678.785,12214.060227,806127.975,-14.0,-1032.242424,-68128.0,66
100008,2,1317.0,37.628571,1317.0,28.0,11.514286,403.0,1.0,0.971429,34.0,...,27702.964286,969603.750,227.160,432218.295,27360.502714,957617.595,-82.0,-1237.800000,-43323.0,35
100009,1,7.0,0.137255,7.0,23.0,8.725490,445.0,1.0,1.000000,51.0,...,9568.531765,487995.120,6155.280,17341.605,9568.531765,487995.120,-58.0,-864.411765,-44085.0,51
100010,1,0.0,0.000000,0.0,30.0,11.900000,119.0,1.0,1.000000,10.0,...,27449.208000,274492.080,27321.390,27463.410,27449.208000,274492.080,-774.0,-915.900000,-9159.0,10

# credit_card_balance :以前信用卡的收支记录, ，每一行是一个月的信用卡余额

In [67]:
cc = pd.read_csv(path + 'credit_card_balance.csv')
cc.head(10)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.500,0.0,877.500,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.000,0.0,0.000,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.000,0.0,0.000,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.000,0.0,0.000,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.000,0.0,11547.000,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0
5,2646502,380010,-7,82903.815,270000,0.0,0.000,0.0,0.000,4449.105,...,82773.315,82773.315,0.0,0,0.0,0.0,2.0,Active,7,0
6,1079071,171320,-6,353451.645,585000,67500.0,67500.000,0.0,0.000,14684.175,...,351881.145,351881.145,1.0,1,0.0,0.0,6.0,Active,0,0
7,2095912,118650,-7,47962.125,45000,45000.0,45000.000,0.0,0.000,0.000,...,47962.125,47962.125,1.0,1,0.0,0.0,51.0,Active,0,0
8,2181852,367360,-4,291543.075,292500,90000.0,289339.425,0.0,199339.425,130.500,...,286831.575,286831.575,3.0,8,0.0,5.0,3.0,Active,0,0
9,1235299,203885,-5,201261.195,225000,76500.0,111026.700,0.0,34526.700,6338.340,...,197224.695,197224.695,3.0,9,0.0,6.0,38.0,Active,0,0

In [68]:
def credit_card_balance():
    cc = pd.read_csv(path + 'credit_card_balance.csv')
    print("before shape", cc.shape)
    cc, cat_cols = encoder(cc)
    # General aggregations
    cc.drop(['SK_ID_PREV'], axis= 1, inplace = True)
    cc_agg = cc.groupby('SK_ID_CURR').agg(['min', 'max', 'mean', 'sum', 'var'])
    cc_agg.columns = pd.Index(['CC_' + e[0] + "_" + e[1].upper() for e in cc_agg.columns.tolist()])
    # Count credit card lines
    cc_agg['CC_COUNT'] = cc.groupby('SK_ID_CURR').size()
    del cc
    gc.collect()
    print("after shape", cc_agg.shape)
    return cc_agg

In [69]:
credit = credit_card_balance()

before shape (3840312, 23)
after shape (103558, 141)

In [70]:
credit = data_processing(credit)

before process df shape: (103558, 141)
selected dataframe has 141 columns.
There are 49 columns that have missing values.
                                    Missing Count  percent
CC_AMT_PAYMENT_CURRENT_VAR                  31956     30.9
CC_CNT_DRAWINGS_POS_CURRENT_VAR             31866     30.8
CC_AMT_DRAWINGS_OTHER_CURRENT_VAR           31866     30.8
CC_CNT_DRAWINGS_OTHER_CURRENT_VAR           31866     30.8
CC_CNT_DRAWINGS_ATM_CURRENT_VAR             31866     30.8
CC_AMT_DRAWINGS_ATM_CURRENT_VAR             31866     30.8
CC_AMT_DRAWINGS_POS_CURRENT_VAR             31866     30.8
CC_AMT_PAYMENT_CURRENT_MAX                  31438     30.4
CC_AMT_PAYMENT_CURRENT_MIN                  31438     30.4
CC_AMT_PAYMENT_CURRENT_MEAN                 31438     30.4
CC_AMT_DRAWINGS_OTHER_CURRENT_MEAN          31364     30.3
CC_CNT_DRAWINGS_OTHER_CURRENT_MIN           31364     30.3
CC_CNT_DRAWINGS_ATM_CURRENT_MEAN            31364     30.3
CC_CNT_DRAWINGS_ATM_CURRENT_MAX             31364     30.3
CC_CNT_DRAWINGS_ATM_CURRENT_MIN             31364     30.3
CC_AMT_DRAWINGS_OTHER_CURRENT_MAX           31364     30.3
CC_CNT_DRAWINGS_OTHER_CURRENT_MAX           31364     30.3
CC_CNT_DRAWINGS_OTHER_CURRENT_MEAN          31364     30.3
CC_AMT_DRAWINGS_ATM_CURRENT_MAX             31364     30.3
CC_CNT_DRAWINGS_POS_CURRENT_MIN             31364     30.3
CC_AMT_DRAWINGS_ATM_CURRENT_MEAN            31364     30.3
CC_CNT_DRAWINGS_POS_CURRENT_MAX             31364     30.3
CC_CNT_DRAWINGS_POS_CURRENT_MEAN            31364     30.3
CC_AMT_DRAWINGS_OTHER_CURRENT_MIN           31364     30.3
CC_AMT_DRAWINGS_POS_CURRENT_MEAN            31364     30.3
CC_AMT_DRAWINGS_POS_CURRENT_MAX             31364     30.3
CC_AMT_DRAWINGS_POS_CURRENT_MIN             31364     30.3
CC_AMT_DRAWINGS_ATM_CURRENT_MIN             31364     30.3
CC_NAME_CONTRACT_STATUS_Signed_VAR            692      0.7
CC_NAME_CONTRACT_STATUS_Active_VAR            692      0.7
drop missing values over 60
selected dataframe has 141 columns.
There are 49 columns that have missing values.
after drop missing values df shape: (103558, 141)
the same values feature num : 36
after process df shape: (103558, 105)

In [71]:
credit.to_csv("C:/data/processing_data/credit.csv")